@{
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}
<section class="widgetForm">
    <br>
    <div class="holder">
        <form asp-controller="RegisterMember" asp-action="Register" method="post" class="form" id="formApplicationRegistration" novalidate="novalidate">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="formRow">
                    <label for="emailAddress">Email</label>
                    <input type="text" name="emailAddress" id="emailAddress" value="" class="textField required limitedFieldWidth" autofocus="" aria-required="true">
                </div>
            </div>

             @* <div class="col-xs-12 col-sm-12 col-md-12">
                 <div class="formRow">
                     <label for="captcha">Captcha</label>
                     <div class="g-recaptcha" data-sitekey="6Lcd3PIcAAAAAMqceVNeDkg8WROVCr-1FnKBKQhG" data-callback="correctCaptcha"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" width="304" height="78" role="presentation" name="a-vy7b9kkaf56u" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.google.com/recaptcha/api2/anchor?ar=2&amp;k=6Lcd3PIcAAAAAMqceVNeDkg8WROVCr-1FnKBKQhG&amp;co=aHR0cHM6Ly9kYmIuYm5pLnZuOjQ0Mw..&amp;hl=vi&amp;v=rz4DvU-cY2JYCwHSTck0_qm-&amp;size=normal&amp;cb=ft9lwrsbe9i" style="overflow: hidden;"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none; overflow: hidden;"></iframe></div>
                     <input type="hidden" id="captcha" name="captcha" class="required" value="" title="Please enter captcha" aria-required="true">
                 </div>
             </div>

             <div class="col-xs-12 col-sm-12 col-md-12">
                 <div class="formRow">
                     <p>
                         <label for="agreeCheckbox" id="formIAgree" class="agree">
                             <input id="agreeCheckbox" type="checkbox" name="agreeCheckbox" value="accept" title="I agree"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                             <i class="fa fa-square-o" aria-hidden="true"></i>
                             Tôi đã đọc chính sách bảo mật. Tôi đồng ý rằng những thông tin chi tiết và dữ liệu của tôi sẽ được thu thập và lưu trữ dưới dạng điện tử để phản hồi câu hỏi của tôi <a href="http://bnitos.com/" target="_blank">Nhấp vào để xem thêm</a>
                         </label>
                     </p>

                 </div>
             </div> *@

            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="formButtonsRow">
                    <input type="hidden" id="chapterId" name="chapterId" value="37937">
                    <button type="submit" id="submit" name="submit" class="button">Gửi</button>
                    <span id="formAjaxLoader" style="display:none;"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></span>
                </div>
            </div>
            <p id="responcemessagesuccess" align="center" style="margin-top: 15px; display: none; @ViewBag.SuccessDisplay">Cảm ơn! Chúng tôi đã gửi đường liên kết. Vui lòng nhấn vào và đăng ký</p>
            <p id="responcemessageerror" align="center" style="margin-top: 15px; display: none; @ViewBag.ErrorDisplay">Xảy ra lỗi trong quá trình xử lý</p>


        </form>
    </div>
</section>