@{
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}
<section class="widgetForm">
    <br>
    <div class="holder">
        <form class="form" id="formApplicationRegistration" novalidate="novalidate">
            <p id="responcemessagesuccess" align="center" style="margin-top: 15px; ">Bạn đã là thành viên của chúng tôi xin cảm ơn</p>
        </form>
    </div>
</section>