@{
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}
<section class="widgetForm">
    <br>
    <div class="holder">
        <form   class="form" id="formApplicationRegistration" novalidate="novalidate">
            <p id="responcemessagesuccess" align="center" style="margin-top: 15px; ">Email chưa đăng kí là người dùng của chúng tôi</p>
        </form>
    </div>
</section>