@using X.PagedList.Mvc.Core

<main>
    <div id="wrap" class="o_wevent_index">
        <nav class="navbar navbar-light border-top shadow-sm d-print-none">
            <div class="container">
                <div class="d-flex flex-column flex-sm-row justify-content-between w-100">
                    <span class="navbar-brand h4 my-0 me-auto">Events</span>
                    <ul class="o_wevent_index_topbar_filters nav">
                        <li class="nav-item dropdown me-2 my-1">
                            <a href="#"
                               role="button"
                               class="btn dropdown-toggle"
                               data-bs-toggle="dropdown">
                                <i class="fa fa-folder-open"></i>
                                Weekly Meeting
                            </a>
                            <div class="dropdown-menu">
                                <a href="/event?tags=%5B1%5D&amp;date=old"
                                   class="dropdown-item d-flex align-items-center justify-content-between">
                                    Phiên họp hàng tuần
                                </a>
                            </div>
                        </li>

                        <li class="nav-item dropdown me-2 my-1">
                            <a href="#" role="button" class="btn dropdown-toggle" id="eventTypeDropdown" data-bs-toggle="dropdown">
                                <i class="fa fa-calendar"></i>
                                <span>
                                    @if (string.IsNullOrEmpty(ViewBag.EventType))
                                    {
                                        <text>Tất cả sự kiện</text>
                                    }
                                    else
                                    {
                                        <text>@ViewBag.EventType</text>
                                    }
                                </span>
                            </a>


                            <div class="dropdown-menu">
                                <a asp-controller="Event"
                                   asp-action="EventCategory"
                                   asp-route-eventType="all"
                                   class="dropdown-item d-flex align-items-center justify-content-between">
                                    Tất cả các Sự kiện
                                </a>
                                <a asp-controller="Event"
                                   asp-action="EventCategory"
                                   asp-route-eventType="past"
                                   class="dropdown-item d-flex align-items-center justify-content-between">
                                    Sự kiện đã qua
                                </a>
                                <a asp-controller="Event"
                                   asp-action="EventCategory"
                                   asp-route-eventType="future"
                                   class="dropdown-item d-flex align-items-center justify-content-between">
                                    Sự kiện sắp tới
                                </a>
                            </div>
                        </li>

                    </ul>


                    <div class="d-flex align-items-center flex-wrap ps-sm-3 pe-0">
                        <form method="get" asp-controller="Event" asp-action="EventSearch" class="o_searchbar_form s_searchbar_input" data-snippet="s_searchbar_input">
                            <div role="search"
                                 class="input-group o_wevent_event_searchbar_form w-100 my-1 my-lg-0">
                                <input type="search"
                                       name="keyword"
                                       class="search-query form-control oe_search_box None"
                                       placeholder="Tìm kiếm một sự kiện..."
                                       value=""
                                       data-search-type="events"
                                       data-limit="5"
                                       data-display-image="true"
                                       data-display-description="true"
                                       data-display-extra-link="true"
                                       data-display-detail="false"
                                       data-order-by="name asc"
                                       autocomplete="off" />
                                <button type="submit"
                                        aria-label="Tìm kiếm"
                                        title="Tìm kiếm"
                                        class="btn oe_search_button btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>

                            <input name="order"
                                   type="hidden"
                                   class="o_search_order_by"
                                   value="name asc" />

                            <input type="hidden" name="date" value="old" />
                            <input type="hidden" name="tags" value="" />
                        </form>

                    </div>
                </div>
            </div>
        </nav>

        <div id="oe_structure_we_index_1" class="oe_structure oe_empty"></div>

        <div class="o_wevent_events_list">
            <div class="container">
                <div class="d-flex mx-n3">
                    <div class="d-flex align-items-center mt16"></div>
                </div>
                <div class="row">
                    <div id="o_wevent_index_main_col"
                         class="col-md my-5 opt_events_list_columns">
                        <div class="row">
                            @Html.Partial("Item_Event")

                            <div class="d-flex justify-content-center my-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="oe_structure_we_index_2" class="oe_structure oe_empty"></div>
    </div>

</main>