<head>
    <meta property="og:title" content="Tin tức | BNI Vũng Tàu" />
    <meta name="twitter:title" content="Tin tức | BNI Vũng Tàu" />
    <title>Tin tức | BNI Vũng Tàu</title>
</head>

<main>
    <div id="wrap" class="js_blog website_blog">
        <div id="o_wblog_blog_top">
            <div data-name="Ảnh bìa" data-use_filters="True" data-use_text_align="True" data-res-model="blog.blog"
                data-res-id="2"
                class="o_record_cover_container d-flex flex-column h-100 o_colored_level o_cc o_cc3 o_wblog_post_page_cover o_record_has_cover cover_auto">
                <div style="background-image: none" class="o_record_cover_component o_record_cover_image"></div>
                <div style="opacity: 0.2" class="o_record_cover_component o_record_cover_filter oe_black"></div>

                <div class="container position-relative h-100 d-flex flex-column justify-content-around">
                    <div class="o_wblog_post_title">
                        <span class="text-white text-decoration-none" title="Tin tức">
                            <div id="o_wblog_post_name" placeholder="Tiêu đề blog">
                                Tin tức
                            </div>
                        </span>

                        <div>
                            <span>&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <span class="nav-link disabled ps-0">Blogs:</span>
                    </li>
                    <li class="nav-item">
                        <a href="/views/blogs/blog.html" class="nav-link fw-bold">Tất cả</a>
                    </li>
                    <li class="nav-item">
                        <a href="/views/blogs/travel.html" class="nav-link">
                            <b>Du lịch</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/views/blogs/news.html" class="nav-link active">
                            <b>Tin tức</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/views/blogs/blog_success_story.html" class="nav-link">
                            <b>Câu chuyện thành công</b>
                        </a>
                    </li>
                </ul>

                <form method="get" class="o_searchbar_form o_wait_lazy_js s_searchbar_input"
                    action="/views/blogs/news.html" data-snippet="s_searchbar_input">
                    <div role="search" class="input-group w-100 w-md-auto pt-2 pt-md-0 d-md-flex">
                        <input type="search" name="search" class="search-query form-control oe_search_box None"
                            placeholder="Tìm..." data-search-type="blogs" data-limit="5" data-display-image="true"
                            data-display-description="true" data-display-extra-link="true" data-display-detail="false"
                            data-order-by="name asc" />
                        <button type="submit" aria-label="Tìm kiếm" title="Tìm kiếm"
                            class="btn oe_search_button btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>

                    <input name="order" type="hidden" class="o_search_order_by" value="name asc" />

                    <input type="hidden" name="tag" />
                    <input type="hidden" name="date_begin" />
                    <input type="hidden" name="date_end" />
                </form>
            </div>
        </nav>

        <section id="o_wblog_index_content">
            <div class="container py-4">
                <div class="row justify-content-between">
                    <div id="o_wblog_posts_loop_container" class="col">
                        <div id="o_wblog_posts_loop" class="">
                            <div class="row">
                                <div class="pb-4 col-12 col-md-6">
                                    <article name="blog_post" class="o_wblog_post position-relative">
                                        <a href="/blog/tin-tuc-2/ngay-hoi-ket-noi-giao-thuong-6"
                                            class="text-decoration-none d-block mb-2">
                                            <div data-name="Ảnh bìa" style="" data-res-model="blog.post" data-res-id="6"
                                                class="o_record_cover_container d-flex flex-column h-100 o_colored_level o_cc o_cc3 o_cc o_list_cover o_not_editable rounded overflow-hidden shadow mb-3">
                                                <div style="
                                  background-image: url('/images/331523524_580332950801717_8681301811194569582_n.jpg');
                                " class="o_record_cover_component o_record_cover_image"></div>

                                                <div
                                                    class="o_not_editable align-items-center position-relative o_wblog_post_list_author o_list_cover d-flex text-white w-100 o_not_editable px-2 pb-2 pt-3">
                                                    <div style="line-height: 1">
                                                        <span>360 CORP, Nguyễn Đức Dương</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div>
                                            <a href="/blog/tin-tuc-2/ngay-hoi-ket-noi-giao-thuong-6"
                                                class="d-block text-reset text-decoration-none o_blog_post_title my-0 h5">Ngày
                                                Hội Kết Nối Giao Thương</a>

                                            <div>
                                                <a class="text-reset text-decoration-none"
                                                    href="/blog/tin-tuc-2/ngay-hoi-ket-noi-giao-thuong-6">
                                                    <div class="mt-2 o_wblog_normalize_font">
                                                        Thành phố Vũng Tàu, ngày 19 tháng 2 năm 2023
                                                        Buổi kết nối liên chapter giữa 2 chapter BNI
                                                        Cap Saint Jacques Vũng Tàu và BNI Unity Bà Rịa
                                                        với 120 khách mời, 150 cơ hội kinh doanh.
                                                        Nhiều cơ hội kinh doa...
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="o_wblog_normalize_font pe-2 pb-2">
                                            <div class="d-flex small flex-wrap mb-1 w-100">
                                                <div
                                                    class="d-flex flex-wrap align-items-center justify-content-between mx-n2 flex-grow-1">
                                                    <time class="text-nowrap fw-bold px-2">25 thg 6, 2023</time>
                                                    <div class="px-2">
                                                        <b class="text-nowrap" title="Bình luận">
                                                            <i class="fa fa-comment text-muted me-1"></i>0
                                                        </b>
                                                        <b class="text-nowrap ps-2" title="Views">
                                                            <i class="fa fa-binoculars text-muted me-1"></i>88
                                                        </b>
                                                    </div>
                                                    <b class="text-nowrap text-truncate px-2">
                                                        <i class="fa fa-folder-open text-muted"></i>
                                                        <a href="/views/blogs/news.html">Tin tức</a>
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>

                                <div class="pb-4 col-12 col-md-6">
                                    <article name="blog_post" class="o_wblog_post position-relative">
                                        <a href="/blog/tin-tuc-2/hoi-nghi-dinh-cao-2023-1"
                                            class="text-decoration-none d-block mb-2">
                                            <div data-name="Ảnh bìa" style="background-color: rgba(255, 0, 0, 0.86)"
                                                data-res-model="blog.post" data-res-id="1"
                                                class="o_record_cover_container d-flex flex-column h-100 o_colored_level o_cc o_cc3 o_cc o_list_cover o_not_editable rounded overflow-hidden shadow mb-3">
                                                <div style="
                                  background-image: url('/images/bni-la-gi-20-scaled.jpg');
                                " class="o_record_cover_component o_record_cover_image"></div>

                                                <div
                                                    class="o_not_editable align-items-center position-relative o_wblog_post_list_author o_list_cover d-flex text-white w-100 o_not_editable px-2 pb-2 pt-3">
                                                    <div style="line-height: 1">
                                                        <span>360 CORP, Administrator</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div>
                                            <a href="/blog/tin-tuc-2/hoi-nghi-dinh-cao-2023-1"
                                                class="d-block text-reset text-decoration-none o_blog_post_title my-0 h5">Hội
                                                Nghị Đỉnh Cao 2023</a>

                                            <div>
                                                <a class="text-reset text-decoration-none"
                                                    href="/blog/tin-tuc-2/hoi-nghi-dinh-cao-2023-1">
                                                    <div class="mt-2 o_wblog_normalize_font">
                                                        Thành phố Phú Quốc , ngày 02 tháng 06 năm 2023
                                                        Hội nghị đỉnh cao 2023 kiến tạo sự thịnh vượng
                                                        Ngày 01 và 02/6/2023, tại thành phố Phú Quốc,
                                                        tỉnh Kiên Giang, Tổ chức Kết nối kinh doanh
                                                        toàn cầu (BNI) t...
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="o_wblog_normalize_font pe-2 pb-2">
                                            <div class="d-flex small flex-wrap mb-1 w-100">
                                                <div
                                                    class="d-flex flex-wrap align-items-center justify-content-between mx-n2 flex-grow-1">
                                                    <time class="text-nowrap fw-bold px-2">2 thg 6, 2023</time>
                                                    <div class="px-2">
                                                        <b class="text-nowrap" title="Bình luận">
                                                            <i class="fa fa-comment text-muted me-1"></i>0
                                                        </b>
                                                        <b class="text-nowrap ps-2" title="Views">
                                                            <i class="fa fa-binoculars text-muted me-1"></i>83
                                                        </b>
                                                    </div>
                                                    <b class="text-nowrap text-truncate px-2">
                                                        <i class="fa fa-folder-open text-muted"></i>
                                                        <a href="/views/blogs/news.html">Tin tức</a>
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 d-flex ms-lg-5">
                        <div id="o_wblog_sidebar" class="w-100">
                            <div class="oe_structure" id="oe_structure_blog_sidebar_index_1"></div>
                            <div class="o_wblog_sidebar_block pb-5">
                                <h6 class="text-uppercase pb-2 mb-4 border-bottom fw-bold">
                                    Về Chúng tôi
                                </h6>
                                <div>
                                    <p style="text-align: justify">
                                        Đây là nơi chúng tôi chia sẻ những suy nghĩ, câu
                                        chuyện và thông tin hữu ích về đủ mọi chủ đề. Với sứ
                                        mệnh lan tỏa kiến thức và tạo ra một cộng đồng lớn
                                        mạnh.
                                        </font>
                                    </p>
                                    <p style="text-align: justify">
                                        <font class="text-800">
                                            &nbsp;Từ lĩnh vực kinh doanh, công nghệ, sức khỏe,
                                            giáo dục đến nghệ thuật và du lịch, chúng tôi đề cao
                                            sự đa dạng và mong muốn mang đến cho bạn những bài
                                            viết thú vị và bổ ích.&nbsp;
                                        </font>
                                    </p>
                                    <p style="text-align: justify">
                                        <font class="text-800">
                                            Chúng tôi hy vọng rằng những tin tức&nbsp;này sẽ
                                            trở thành nguồn cảm hứng và kiến thức bổ ích cho
                                            bạn.
                                        </font>
                                    </p>
                                </div>
                            </div>
                            <div class="oe_structure" id="oe_structure_blog_sidebar_index_2"></div>
                            <div class="o_wblog_sidebar_block pb-5">
                                <h6 class="text-uppercase pb-2 mb-4 border-bottom fw-bold">
                                    Theo dõi chúng tôi
                                </h6>
                                <div class="o_wblog_social_links d-flex flex-wrap mx-n1">
                                    <a aria-label="Facebook" title="Facebook"
                                        class="bg-100 border mx-1 mb-2 rounded-circle d-flex align-items-center justify-content-center text-decoration-none"
                                        href="https://www.facebook.com/bnivungtau">
                                        <i class="fa fa-facebook-square text-facebook" data-bs-original-title=""
                                            title="" aria-describedby="tooltip198109"></i>
                                    </a>
                                    <a class="bg-100 border mx-1 mb-2 rounded-circle d-flex align-items-center justify-content-center text-decoration-none"
                                        href="/blog/2/feed">
                                        <i class="fa fa-rss-square" aria-label="RSS" title="RSS"></i>
                                    </a>
                                </div>
                                <div class="input-group js_follow pt-2" data-id="2" data-object="blog.blog"
                                    data-follow="off">
                                    <input type="email" name="email" class="js_follow_email form-control"
                                        placeholder="email của bạn..." />

                                    <button href="#" class="btn btn-secondary js_unfollow_btn">
                                        Ngừng đăng ký
                                    </button>
                                    <button href="#" class="btn btn-primary js_follow_btn">
                                        Đăng ký nhận tin
                                    </button>
                                </div>
                            </div>
                            <div class="oe_structure" id="oe_structure_blog_sidebar_index_3"></div>
                            <div class="o_wblog_sidebar_block pb-5">
                                <h6 class="text-uppercase pb-2 mb-4 border-bottom fw-bold">
                                    Lưu trữ
                                </h6>

                                <select name="archive" oninput="location = this.value;" class="form-select">
                                    <option value="/views/blogs/news.html" selected="true">
                                        -- Tất cả các ngày
                                    </option>

                                    <optgroup label="2023">
                                        <option unselected="true"
                                            value="/views/blogs/news.html?date_begin=2023-06-01+00%3A00%3A00&amp;date_end=2023-07-01+00%3A00%3A00">
                                            tháng 6 2023
                                        </option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="oe_structure" id="oe_structure_blog_sidebar_index_4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="oe_structure oe_empty oe_structure_not_nearest" id="oe_structure_blog_footer"
            data-editor-sub-message="Hiện trên mọi trang blog"></div>
    </div>
</main>