
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/form.css">
    <link rel="stylesheet" href="~/css/2.17e5ce8c.chunk.css">
    <link rel="stylesheet" href="~/css/main.9063d918.chunk.css">
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <script src="~/js/form.js"></script>
    <link href="~/lib/semantic-ui/semantic.css" rel="stylesheet" />
    <link href="~/lib/semantic-ui/semantic.min.css" rel="stylesheet" />
    <script src="~/lib/semantic-ui/semantic.js"></script>
    <script src="~/lib/semantic-ui/semantic.min.js"></script>
</head>
<body>
    <header id="header" class="sc-bxivhb bbIcgT">
        <div id="logo-header-container" class="sc-ifAKCX dFOTeI">
            <img src="/web/applications/static/media/bni_logo.4a113e12.svg" class="sc-gzVnrw hERfpT">
            <div id="logo-info" class="sc-dnqmqq fJnaaP">
                <h3 id="logo-name" class="sc-iwsKbI kVSozA">Cổng đăng ký BNI Connect</h3>
            </div>
        </div><div id="header-mount" class="sc-EHOje jvzENE"></div>
        <div class="sc-jTzLTM sign-out-container kXjtzw">
            <button class="ui button sc-VigVT button jpwNMl"><span>Đăng xuất</span><i aria-hidden="true" class="lock icon"></i></button>
        </div>
        <div id="sidebar-button-container" class="sc-bZQynM dSgrvo"></div>
    </header>
    <main id="application-layout" class="sc-htpNat content jDwBOs">
        <div class="sc-ebFjAB bTfESw">
            <div id="member-header" class="sc-chbbiW jPJliL">
                <div class="sc-kxynE member-header-title-container exNUxf">
                    <span class="sc-cooIXK jcRYhK">Đơn đăng ký thành viên mới</span>
                </div>
            </div>
            <div id="member-usage-layout" class="sc-jKVCRD gRBqhJ">
                <div id="member-usage-progress-container" class="sc-iRbamj gKDZzJ">
                    <div id="member-usage-progress" class="ui segment sc-bHwgHz jNhmBq">
                        <div id="usage-progress-step" class="sc-krDsej klcWpK">
                            <i class="fa-regular fa-circle"></i>
                            <span class="sc-dTdPqK step-name hCSjCw">Tài khoản</span>
                            <span class="sc-itybZL step-description kykQSd">Tạo tài khoản BNI Connect</span>
                        </div>
                        <div id="usage-progress-step" class="sc-krDsej klcWpK">
                            <i class="fa-regular fa-circle"></i>
                            <span class="sc-dTdPqK step-name hCSjCw">Chọn Chapter</span>
                            <span class="sc-itybZL step-description kykQSd">Chọn Chapter muốn tham gia</span>
                        </div>
                        <div id="usage-progress-step" class="sc-krDsej klcWpK">
                            <i class="fa-solid fa-circle"></i>
                            <span class="sc-dTdPqK step-name gDuQHD">Đơn đăng ký</span>
                            <span class="sc-itybZL step-description hWRgJx">Đơn đăng ký thành viên</span>
                        </div>
                        <div id="usage-progress-step" class="sc-krDsej klcWpK">
                            <i class="fa-regular fa-circle"></i>
                            <span class="sc-dTdPqK step-name hCSjCw">Xem</span>
                            <span class="sc-itybZL step-description kykQSd">Xem đơn đăng ký</span>
                        </div>
                    </div>
                </div>
                <div id="member-usage-wrapper" class="ui segment sc-kaNhvL cFcZBS">
                    <div id="member-usage-content" direction="ltr" class="sc-jlyJG bGhfkV">
                        <div class="sc-fYxtnH member-sidebar-container dCIVJv">
                            <div class="sc-hEsumM eROwU">
                                <span class="sc-ktHwxA dVrDoa">Nhấn vào ô bên dưới để điền thông tin chi tiết</span>
                            </div>
                            <div id="member-usage-sidebar" class="sc-tilXH jMVAVb">
                                <ul id="form-builder-tab-list" class="sc-pDbHj iBtvlG">
                                    <div class="sc-pLwIe fbVmRn tab-item active" data-target="form1">
                                        <span class="sc-pTWqp gdBFSQ">1.</span>
                                        <span class="sc-pdKru hIfQrc tab-label">Thông tin cá nhân</span>
                                    </div>
                                    <div class="sc-pLwIe dczWII tab-item " data-target="form2">
                                        <span class="sc-pTWqp gdBFSQ">2.</span>
                                        <span class="sc-pdKru ipSphO tab-label">Nhiệm kỳ thành viên</span>
                                    </div>
                                    <div class="sc-pLwIe dczWII tab-item" data-target="form3">
                                        <span class="sc-pTWqp gdBFSQ" data-target="form3">3.</span>
                                        <span class="sc-pdKru ipSphO tab-label">Thông tin tham chiếu</span>
                                    </div>
                                    <div class="sc-pLwIe dczWII tab-item" data-target="form4">
                                        <span class="sc-pTWqp gdBFSQ">4.</span>
                                        <span class="sc-pdKru ipSphO tab-label">Thông tin bổ sung</span>
                                    </div>
                                    <div class="sc-pLwIe dczWII tab-item" data-target="form5">
                                        <span class="sc-pTWqp gdBFSQ">5.</span>
                                        <span class="sc-pdKru ipSphO tab-label">Điều khoản &amp; Điều kiện</span>
                                    </div>
                                    <div class="sc-pLwIe dczWII tab-item" data-target="form6">
                                        <span class="sc-pTWqp gdBFSQ">6.</span>
                                        <span class="sc-pdKru ipSphO tab-label">Thanh toán</span>
                                    </div>
                                </ul>
                            </div>
                        </div><div direction="ltr" class="sc-kUaPvJ rOZmo">
                            <div id="member-application-form" class="sc-bbmXgH fjdVMy">
                                <div class="pushable">
                                    <div class="pusher">
                                        <div class="sc-feJyhm knoNoV"><span class="sc-iELTvK org-text vFrAf">BNI CapSaintJacques</span><span class="sc-cmTdod kqPWJa">/</span><span class="sc-iELTvK org-text vFrAf">BBD</span></div><div id="form-builder" class="sc-qPIWj fXcTtH">
                                            <div class="sc-oVdHe fjwdNm">
                                                <div class="sc-pcZJD iLAGzl">
                                                    <div id="form-builder-tab-content" class="sc-plVjM cSEwuL">
                                                        @RenderBody()
                                                    </div>
                                                </div>
                                            </div><div class="notification-container notification-container-empty"><span></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="member-usage-navigation" class="sc-LKuAh blJEh">
                    <div id="usage-navigation-previous" class="sc-iBEsjs kMDbso">
                        <div class="sc-cIShpX application-chapter-search-container hHjpO">
                            <div class="sc-kafWEX application-review-container EPzqe" direction="ltr">
                                <div class="sc-kvZOFW hWWqfw">
                                    <button class="ui button sc-VigVT button jpwNMl" onclick="moveToPrevForm()">
                                        <i class="fa-regular fa-circle-left icons  alternate circle right outline  sc-jbKcbu bvAyjf" style="margin-right:3px"></i>
                                        <span>Lùi lại</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="usage-navigation-next" class="sc-hzNEM jzXwsk">
                        <div class="sc-jqCOkK next-button-container lezysK">
                            <div class="sc-kvZOFW hWWqfw">
                                <button class="ui  button sc-VigVT button jpwNMl" onclick="moveToNextForm()">
                                    <span>Tiếp theo</span>
                                    <i class="fa-regular fa-circle-right icons  alternate circle right outline  sc-jbKcbu bvAyjf" style="margin-top:3px;margin-left: 5px;"></i>
                                </button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div><div id="date-picker-mount" class="sc-jzJRlG enxKql"></div><div id="sidebar-mount" class="sc-cSHVUG CAuLq"><div class="sc-jtRfpW jsnlDS"><div class="ui inverted vertical labeled icon ui overlay right thin sidebar menu"><div id="step-container" class="sc-gxMtzJ drsJvx"><div class="sc-hwwEjo mobile-sidebar-header dMgODR"><div class="sc-kPVwWT lofWfo"><i aria-hidden="true" class="circle outline icon sc-kfGgVZ fNkaoJ"></i></div><div class="sc-esjQYD iVChAU"><div class="sc-kIPQKe bszTnI"><span class="sc-eXEjpC mobile-step-name dMNohJ">Đơn đăng ký</span></div><div class="sc-ibxdXY oOYYg"><span class="sc-RefOD mobile-step-description cxoDwm">Đơn đăng ký thành viên</span></div></div></div><div class="sc-kTUwUJ content-container fFrmmO"><div class="sc-iQNlJl item-container bGFgSW"><div class="sc-bsbRJL item-icon-container fFiaTF"><i aria-hidden="true" class="circle icon sc-hZSUBg sc-iuJeZd jKpxjM"></i></div><div class="sc-esOvli item-label-container oHRGr">Thông tin cá nhân</div></div><div class="sc-iQNlJl item-container bGFgSW"><div class="sc-bsbRJL item-icon-container fFiaTF"><i aria-hidden="true" class="circle icon sc-hZSUBg ccSrRw"></i></div><div class="sc-esOvli item-label-container oHRGr">Nhiệm kỳ thành viên</div></div><div class="sc-iQNlJl item-container bGFgSW"><div class="sc-bsbRJL item-icon-container fFiaTF"><i aria-hidden="true" class="circle icon sc-hZSUBg ccSrRw"></i></div><div class="sc-esOvli item-label-container oHRGr">Thông tin tham chiếu</div></div><div class="sc-iQNlJl item-container bGFgSW"><div class="sc-bsbRJL item-icon-container fFiaTF"><i aria-hidden="true" class="circle icon sc-hZSUBg ccSrRw"></i></div><div class="sc-esOvli item-label-container oHRGr">Thông tin bổ sung</div></div><div class="sc-iQNlJl item-container bGFgSW"><div class="sc-bsbRJL item-icon-container fFiaTF"><i aria-hidden="true" class="circle icon sc-hZSUBg ccSrRw"></i></div><div class="sc-esOvli item-label-container oHRGr">Điều khoản &amp; Điều kiện</div></div><div class="sc-iQNlJl item-container bGFgSW"><div class="sc-bsbRJL item-icon-container fFiaTF"><i aria-hidden="true" class="circle icon sc-hZSUBg ccSrRw"></i></div><div class="sc-esOvli item-label-container oHRGr">Thanh toán</div></div></div><div class="sc-hwwEjo mobile-sidebar-header bBdgOt" disabled=""><div class="sc-kPVwWT lofWfo"><i aria-hidden="true" class="circle outline icon sc-kfGgVZ fNkaoJ"></i></div><div class="sc-esjQYD iVChAU"><div class="sc-kIPQKe bszTnI"><span class="sc-eXEjpC mobile-step-name dMNohJ">Xem</span></div><div class="sc-ibxdXY oOYYg"><span class="sc-RefOD mobile-step-description cxoDwm">Xem đơn đăng ký</span></div></div></div></div><div id="footer-container" class="sc-dfVpRl gRNHRh"><div class="sc-gwVKww dDxcpZ"><div class="sc-hXRMBi iDwBJz">Đăng xuất</div><div class="sc-epnACN kubGRh"><i aria-hidden="true" class="sign-out icon"></i></div></div><footer class="sc-iQKALj footer ipYCkX">© 2018 BNI Global LLC. All Rights Reserved.<div class="sc-hrWEMg hvajxJ"><a target="_blank" href="http://bnitos.com/" class="sc-eTuwsz jcCTvx">Điều khoản sử dụng</a><a target="_blank" href="http://bnitos.com/privacy.html" class="sc-eTuwsz jcCTvx">Chính sách quyền riêng tư</a><a target="_blank" href="http://bnitos.com/browser.html" class="sc-eTuwsz jcCTvx">Chính sách trình duyệt</a></div></footer></div></div></div></div><div class="notification-container notification-container-empty"><span></span></div>
    </main>
</body>
</html>

