<!DOCTYPE html>
<html lang="vi-VN" data-website-id="1" data-main-object="website.page(5,)" data-add2cart-redirect="1"
    data-logged="false" data-browser="chrome,122.0.0.0">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="Odoo" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="CSJ Chapter" />
    <meta property="og:url" content="https://csjchapter.com/about-us" />
    <meta property="og:image"
          content="https://csjchapter.com/web/image/website/1/logo?unique=c4ffaff" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image"
          content="https://csjchapter.com/web/image/website/1/logo/300x300?unique=c4ffaff" />

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link type="image/x-icon"
          rel="shortcut icon"
          href="~/images/BNI Vũng Tàu.ico" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          as="font"
          crossorigin="" />
    <link type="text/css"
          rel="stylesheet"
          href="~/css/style.css"
          data-asset-bundle="web.assets_frontend"
          data-asset-version="2e23a77" />
    <script id="web.layout.odooscript" type="text/javascript">
        var odoo = {
            csrf_token: "5f51c1d9455cb880f6fbae2c2ba5750a6bebff08o1742282176",
            debug: "",
        };
    </script>
    <script type="text/javascript">
        odoo.__session_info__ = {
            is_admin: false,
            is_system: false,
            is_website_user: true,
            user_id: false,
            is_frontend: true,
            profile_session: null,
            profile_collectors: null,
            profile_params: null,
            show_effect: true,
            bundle_params: { lang: "en_US", website_id: 1 },
            translationURL: "/website/translations",
            cache_hashes: {
                translations: "48a5ed161c9fc12bdd68f55a55b13b66dedf9dc4",
            },
            geoip_country_code: null,
            geoip_phone_code: null,
            lang_url_code: "vi",
        };
        if (!/(^|;\s)tz=/.test(document.cookie)) {
            const userTZ = Intl.DateTimeFormat().resolvedOptions().timeZone;
            document.cookie = `tz=${userTZ}; path=/`;
        }
    </script>
    <script defer="defer"
            type="text/javascript"
            src="~/js/frontend_minimal.js"
            data-asset-bundle="web.assets_frontend_minimaljs"
            data-asset-version="efdeb42"></script>
    <script defer="defer"
            type="text/javascript"
            data-asset-bundle="web.assets_frontend_lazy"
            data-asset-version="15ee7a8"
            src="~/js/frontend_lazy.js"></script>

    <style>
        .ejoy-sub-active {
            color: #1296ba !important;
        }

        .ejoy-sub-hovered {
            color: #1296ba !important;
        }

        .ejoy-sub-clzz {
            cursor: pointer;
            line-height: 1.2;
            font-size: 28px;
            color: #ffcc00;
            background: rgba(17, 17, 17, 0.7);
        }

            .ejoy-sub-clzz:hover {
                color: #1296ba !important;
            }

        .ej-trans-sub {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999999;
            cursor: move;
        }

            .ej-trans-sub > span {
                color: #3cf9ed;
                font-size: 18px;
                text-align: center;
                padding: 0 16px;
                line-height: 1.5;
                background: rgba(32, 26, 25, 0.8);
                text-shadow: 0px 1px 4px black;
                padding: 0 8px;
                line-height: 1.2;
                font-size: 16px;
                color: #0cb1c7;
                background: rgba(67, 65, 65, 0.7);
            }

        .ej-full-screen-video {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 30px;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 99999999;
            cursor: pointer;
        }

        .ej-main-sub {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 99999999;
            cursor: move;
            padding: 0 8px;
        }

            .ej-main-sub > span {
                color: white;
                font-size: 20px;
                line-height: 1.5;
                text-align: center;
                background: rgba(32, 26, 25, 0.8);
                padding: 2px 8px;
                line-height: 1.2;
                font-size: 28px;
                color: #ffcc00;
                background: rgba(17, 17, 17, 0.7);
            }

            .ej-main-sub .ejoy-sub-clzz {
                background: transparent !important;
            }

        .tran-subtitle > span {
            cursor: pointer;
            padding-left: 10px;
            top: 2px;
            position: relative;
        }

            .tran-subtitle > span > span {
                position: absolute;
                top: -170%;
                background: rgba(0, 0, 0, 0.5);
                font-size: 13px;
                line-height: 20px;
                padding: 2px 8px;
                color: white;
                display: none;
                border-radius: 4px;
                white-space: nowrap;
                left: -50%;
                font-weight: normal;
            }

        .viewPopupPro {
            z-index: 2147483647;
            cursor: auto;
            position: absolute;
            z-index: 2147483647;
            background: #111111;
            transition: opacity 1s;
            width: 172px;
            height: 66px;
            opacity: 1;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .titlePopupPro {
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #e5e5e5;
            text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        }

        .viewGoPro {
            background: #ffcc00;
            border-radius: 72.6257px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 8px;
            padding-left: 10px;
            cursor: pointer;
        }

            .viewGoPro svg {
                pointer-events: none;
            }

        .textGoPro {
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            pointer-events: none;
            text-align: center;
            color: #ffffff;
            padding: 4px 14px 4px 4px;
        }

        .viewPopupPro {
            top: auto !important;
            bottom: 15px !important;
        }

        .view-icon-copy-main-sub:hover > span,
        .view-icon-edit-sub:hover > span,
        .view-icon-exit-full-sub:hover > span,
        .view-icon-full-sub:hover > span,
        .iconCrownGoPro:hover > span,
        .view-icon-copy-tran-sub:hover > span {
            display: block;
        }

        .iconCrownGoPro {
            padding-left: 0px !important;
            padding-right: 8px !important;
        }

            .iconCrownGoPro svg {
                width: 17px;
                height: 17px;
            }

        .view-icon-full-sub,
        .view-icon-exit-full-sub {
            display: flex;
        }

            .view-icon-full-sub > svg,
            .view-icon-exit-full-sub > svg {
                pointer-events: none;
            }

        .tran-subtitle > span > svg {
            width: 16px;
            height: 16px;
            pointer-events: none;
            display: inline-flex !important;
            vertical-align: baseline !important;
        }

        .view-icon-copy-main-sub > svg {
            pointer-events: none;
            color: #ffcc00;
        }

        .iconCrownGoPro {
            padding-left: 0 !important;
            padding-right: 8px !important;
        }

        .view-icon-copy-tran-sub > svg {
            pointer-events: none;
            color: #0cb1c7;
        }
    </style>
    <script type="text/javascript" src="/web/webclient/locale/vi_VN"></script>
</head>

<body class="">
    <div id="wrapwrap" class="   ">
        <header id="top" data-anchor="true" data-name="Header" class="o_header_standard o_top_fixed_element">
            <nav data-name="Navbar" class="navbar navbar-light o_colored_level o_cc">
                <div id="top_menu_container" class="container">
                    <a href="/" class="navbar-brand logo me-lg-auto me-0">
                        <span role="img" aria-label="Logo of BNI Vũng Tàu" title="BNI Vũng Tàu">
                            <img src="~/images/BNI Vũng Tàu.png" class="img img-fluid" width="95" height="40"
                                alt="BNI Vũng Tàu" loading="lazy" />
                        </span>
                    </a>

                    <ul class="nav navbar-nav navbar-expand d-none d-sm-block">
                        <li class="nav-item ms-3 o_no_autohide_item">
                            <a href="/account/login" class="nav-link">Đăng nhập</a>
                        </li>
                    </ul>

                    <button type="button" data-bs-toggle="collapse" data-bs-target="#top_menu_collapse"
                        class="navbar-toggler order-first me-auto">
                        <span class="navbar-toggler-icon o_not_editable"></span>
                    </button>

                    <div class="oe_structure oe_structure_solo ms-3">
                        <section class="s_text_block o_colored_level" data-snippet="s_text_block" data-name="Text"
                            style="background-image: none">
                            <div class="container">
                                <a href="/contactus" class="btn btn-primary btn_cta" data-bs-original-title=""
                                    title="">Liên hệ với chúng tôi</a>
                            </div>
                        </section>
                    </div>

                    <div id="top_menu_collapse" class="collapse navbar-collapse">
                        <div class="oe_structure oe_structure_solo" id="oe_structure_header_hamburger_2">
                            <section class="s_text_block" data-snippet="s_text_block" data-name="Text">
                                <div class="container">
                                    <div class="s_hr text-start pt16 pb16" data-name="Separator">
                                        <hr class="w-100 mx-auto" style="
                          border-top-width: 1px;
                          border-top-style: solid;
                          border-color: var(--300);
                        " />
                                    </div>
                                </div>
                            </section>
                        </div>
                        <ul id="top_menu" class="nav navbar-nav nav-pills">
                            <li class="nav-item">
                                <a role="menuitem" href="/" class="nav-link">
                                    <span>Trang chủ</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="menuitem" href="/about-us" class="nav-link active">
                                    <span>Giới thiệu</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="menuitem" href="/thanh-vien" class="nav-link">
                                    <span>Thành Viên</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="menuitem"
                                    href="https://dbb.bni.vn/bbd-capsaintjacques/vi-VN/applicationregistration?chapterId=37937"
                                    class="nav-link">
                                    <span>Đăng ký thành viên</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="menuitem" href="/event" class="nav-link">
                                    <span>Các sự kiện</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="menuitem" href="/blog/3" class="nav-link">
                                    <span>Câu chuyện thành công</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                    @Html.ActionLink("Tin tức", "Index", "Blog", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                <a role="menuitem" href="/contactus" class="nav-link">
                                    <span>Liên hệ</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="menuitem" href="/shop" class="nav-link">
                                    <span>Sản phẩm &amp; Dịch vụ</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="menuitem" href="/ban-dieu-hanh-nhiem-ky-19" class="nav-link">
                                    <span>Ban Điều Hành Nhiệm Kỳ 19</span>
                                </a>
                            </li>

                            <li class="nav-item divider d-none"></li>
                            <li class="o_wsale_my_cart align-self-md-start nav-item">
                                <a href="/shop/cart" class="nav-link" data-bs-original-title="" title="">
                                    <span>Giỏ hàng</span>
                                    <sup class="my_cart_quantity badge text-bg-primary" data-order-id="">0</sup>
                                </a>
                            </li>

                            <li class="nav-item d-block d-sm-none o_no_autohide_item">
                                <a href="/web/login" class="nav-link">Đăng nhập</a>
                            </li>
                        </ul>

                        <div class="oe_structure oe_structure_solo" id="oe_structure_header_hamburger_3">
                            <section class="s_text_block o_colored_level" data-snippet="s_text_block" data-name="Text"
                                style="background-image: none">
                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-lg-12 o_colored_level">
                                            <div class="s_hr text-start pt16 pb16" data-name="Separator">
                                                <hr class="w-100 mx-auto" style="
                              border-top-width: 1px;
                              border-top-style: solid;
                              border-color: var(--300);
                            " />
                                            </div>
                                        </div>
                                        <div class="col-lg-6 pb16 o_colored_level">
                                            <div class="s_social_media text-start o_not_editable no_icon_color"
                                                data-snippet="s_social_media" data-name="Social Media"
                                                style="font-size: 18px">
                                                <h5 class="s_social_media_title d-none">
                                                    Theo dõi chúng tôi
                                                </h5>
                                                <a href="/website/social/facebook" class="s_social_media_facebook"
                                                    target="_blank">
                                                    <i class="fa fa-facebook m-1 o_editable_media"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 text-lg-end o_colored_level pt4 pb0">
                                            <h6>
                                                <i class="fa fa-fw fa-envelope me-2 fa-1x text-o-color-1"
                                                    data-bs-original-title="" title=""
                                                    aria-describedby="tooltip982410"></i>
                                                <font class="text-o-color-5">&ZeroWidthSpace;</font>
                                                <font class="text-o-color-1" style="font-size: 18px">info@csjchapter.com
                                                </font>
                                            </h6>
                                        </div>
                                        <div class="col-lg-2 text-lg-end o_colored_level pb0">
                                            <h6>
                                                <i class="fa fa-1x fa-fw fa-phone me-2 text-o-color-1"
                                                    data-bs-original-title="" title=""
                                                    aria-describedby="tooltip402095"></i>&nbsp;<font
                                                    class="text-o-color-1">(+84)&nbsp;</font><span class="o_force_ltr">
                                                    <a href="tel:(+84) 934304888" data-bs-original-title="" title="">
                                                        <span style="font-size: 18px">
                                                            <font class="text-o-color-1">934 304 888</font>
                                                        </span>
                                                    </a>
                                                </span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        @RenderBody()
        <footer id="bottom" data-anchor="true" data-name="Footer" class="o_footer o_colored_level o_cc">
            <div id="footer" class="oe_structure oe_structure_solo">
                <section class="s_text_block pt48" data-snippet="s_text_block" data-name="Text"
                    style="background-image: none">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 pb24">
                                <h4><b>Đã thiệt kế</b> <br />cho công ty</h4>
                            </div>
                            <div class="col-lg-9 pb24 o_colored_level">
                                <p class="lead">
                                    Chúng tôi là một đội gồm những người đầy nhiệt huyết với mục
                                    tiêu là cải thiện cuộc sống của mọi người.<br />Dịch vụ của
                                    chúng tôi được thiết kế cho các công ty vừa và nhỏ.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="s_text_block" data-snippet="s_text_block" data-name="Text"
                    style="background-image: none">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-3 pb24">
                                <ul class="ps-3 mb-0">
                                    <li><a href="/">Trang chủ</a></li>
                                    <li><a href="/contactus">Liên hệ</a></li>
                                    <li>
                                        <a href="/privacy">Chính sách bảo mật</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 pb24 o_colored_level">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <i class="fa fa-phone fa-fw me-2"></i><span class="o_force_ltr">
                                            <a href="tel://0976554867" data-bs-original-title="" title="">
                                                <font class="text-o-color-3">+84 976 554 867</font>
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope fa-fw me-2"></i>
                                        info@csjchapter.com
                                        <a href="mailto:info@csjchapter.com" data-bs-original-title="" title="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 pb24">
                                <div class="s_social_media text-end o_not_editable" data-snippet="s_social_media"
                                    data-name="Social Media">
                                    <h5 class="s_social_media_title d-none">
                                        Theo dõi chúng tôi
                                    </h5>
                                    <a href="/website/social/facebook" class="s_social_media_facebook" target="_blank">
                                        <i class="fa fa-1x fa-facebook rounded-circle shadow-sm o_editable_media"></i>
                                    </a>
                                    <a href="/website/social/twitter" class="s_social_media_twitter" target="_blank">
                                        <i class="fa fa-1x fa-twitter rounded-circle shadow-sm o_editable_media"></i>
                                    </a>
                                    <a href="/website/social/instagram" class="s_social_media_instagram"
                                        target="_blank">
                                        <i class="fa fa-1x fa-instagram rounded-circle shadow-sm o_editable_media"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="o_footer_copyright o_colored_level o_cc" data-name="Copyright">
                <div class="container py-3">
                    <div class="row">
                        <div class="col-sm text-center text-sm-start text-muted">
                            <span class="o_footer_copyright_name me-2">
                                <font class="text-o-color-4">Bản quyền thuộc ©&ZeroWidthSpace; CSJ Chapter</font>
                            </span>
                        </div>
                        <div class="col-sm text-center text-sm-end o_not_editable">
                            <div class="o_brand_promotion">
                                Cung cấp bởi -
                                <a href="https://360.org.vn/" target="_blank" rel="noopener noreferrer">360 CORP</a>
                                |
                                <a href="https://vuahethong.com/" target="_blank" rel="noopener noreferrer">VUA HE
                                    THONG</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="o-main-components-container">
        <div class="o_effects_manager"></div>
        <div class="o_dialog_container">
            <div></div>
        </div>
        <div class="o_notification_manager"></div>
        <div></div>
        <div class="o_notification_manager o_upload_progress_toast"></div>
        <div class="o_popover_container"></div>
    </div>
</body>

</html>