
<main>
    <div id="wrap" class="js_blog website_blog">
        <div id="o_wblog_blog_top">
            <div data-name="Ảnh bìa"
                 style=""
                 data-use_filters="True"
                 data-use_text_align="True"
                 data-res-model="blog.post"
                 data-res-id="6"
                 class="o_record_cover_container d-flex flex-column h-100 o_colored_level o_cc o_cc3 o_cc o_wblog_post_page_cover o_record_has_cover cover_auto">
                <div style="
                  background-image: url(/images/331523524_580332950801717_8681301811194569582_n.jpg);
                "
                     class="o_record_cover_component o_record_cover_image"></div>
                <div style="opacity: 0"
                     class="o_record_cover_component o_record_cover_filter oe_black"></div>

                <div class="container position-relative h-100 d-flex flex-column justify-content-around">
                    <div class="o_wblog_post_title">
                        <div class="h4 bg-o-color-3 px-2 d-inline-block rounded-1">
                            Mới nhất
                        </div>
                        <a class="text-white text-decoration-none"
                           href="/views/blogs/blog_detail.html"
                           title="Ngày Hội Kết Nối Giao Thương">
                            <div id="o_wblog_post_name"
                                 placeholder="Tiêu đề Blog"
                                 data-blog-id="6">
                                Ngày Hội Kết Nối Giao Thương
                            </div>
                        </a>

                        <div>
                            <span>&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container">
                @await Component.InvokeAsync("MenuPostCategory")

                <form method="get"
                      class="o_searchbar_form o_wait_lazy_js s_searchbar_input"
                      action="@Url.Action("Search", "Blog")" data-snippet="s_searchbar_input">
                    <div role="search"
                         class="input-group w-100 w-md-auto pt-2 pt-md-0 d-md-flex">
                        <input type="search"
                               name="keyword"
                               class="search-query form-control oe_search_box None"
                               placeholder="Tìm..."
                               data-search-type="blogs"
                               data-limit="5"
                               data-display-image="true"
                               data-display-description="true"
                               data-display-extra-link="true"
                               data-display-detail="false"
                               data-order-by="name asc" />
                        <button type="submit"
                                aria-label="Tìm kiếm"
                                title="Tìm kiếm"
                                class="btn oe_search_button btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>

                    <input name="order"
                           type="hidden"
                           class="o_search_order_by"
                           value="name asc" />

                    <input type="hidden" name="tag" />
                    <input type="hidden" name="date_begin" />
                    <input type="hidden" name="date_end" />
                </form>

            </div>
        </nav>

        <section id="o_wblog_index_content">
            <div class="container py-4">
                <div class="row justify-content-between">
                    <div id="o_wblog_posts_loop_container" class="col">
                        <div id="o_wblog_posts_loop" class="">
                            <div class="row">
                                @Html.Partial("Item_Blog")

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 d-flex ms-lg-5">
                        <div id="o_wblog_sidebar" class="w-100">
                            <div class="oe_structure"
                                 id="oe_structure_blog_sidebar_index_1"></div>
                            <div class="o_wblog_sidebar_block pb-5">
                                <h6 class="text-uppercase pb-2 mb-4 border-bottom fw-bold">
                                    Về Chúng tôi
                                </h6>
                                <div>
                                    <p style="text-align: justify">
                                        Đây là nơi chúng tôi chia sẻ những suy nghĩ, câu
                                        chuyện và thông tin hữu ích về đủ mọi chủ đề. Với sứ
                                        mệnh lan tỏa kiến thức và tạo ra một cộng đồng lớn
                                        mạnh.
                                    </p>
                                    <p style="text-align: justify">
                                        <font class="text-800">
                                            &nbsp;Từ lĩnh vực kinh doanh, công nghệ, sức khỏe,
                                            giáo dục đến nghệ thuật và du lịch, chúng tôi đề cao
                                            sự đa dạng và mong muốn mang đến cho bạn những bài
                                            viết thú vị và bổ ích.&nbsp;
                                        </font>
                                    </p>
                                    <p style="text-align: justify">
                                        <font class="text-800">
                                            Chúng tôi hy vọng rằng những tin tức&nbsp;này sẽ
                                            trở thành nguồn cảm hứng và kiến thức bổ ích cho
                                            bạn.
                                        </font>
                                    </p>
                                </div>
                            </div>
                            <div class="oe_structure"
                                 id="oe_structure_blog_sidebar_index_2"></div>
                            <div class="o_wblog_sidebar_block pb-5">
                                <h6 class="text-uppercase pb-2 mb-4 border-bottom fw-bold">
                                    Theo dõi chúng tôi
                                </h6>
                                <div class="o_wblog_social_links d-flex flex-wrap mx-n1">
                                    <a aria-label="Facebook"
                                       title="Facebook"
                                       class="bg-100 border mx-1 mb-2 rounded-circle d-flex align-items-center justify-content-center text-decoration-none"
                                       href="https://www.facebook.com/bnivungtau">
                                        <i class="fa fa-facebook-square text-facebook"
                                           data-bs-original-title=""
                                           title=""
                                           aria-describedby="tooltip198109"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="oe_structure"
                                 id="oe_structure_blog_sidebar_index_3"></div>
                            <div class="o_wblog_sidebar_block pb-5">
                                <h6 class="text-uppercase pb-2 mb-4 border-bottom fw-bold">
                                    Lưu trữ
                                </h6>

                                <select name="archive"
                                        oninput="location = this.value;"
                                        class="form-select">
                                    <option value="/views/blogs/blog.html" selected="true">
                                        -- Tất cả các ngày
                                    </option>

                                    <optgroup label="2023">
                                        <option unselected="true"
                                                value="/views/blogs/blog.html?date_begin=2023-06-01+00%3A00%3A00&amp;date_end=2023-07-01+00%3A00%3A00">
                                            tháng 6 2023
                                        </option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="oe_structure"
                                 id="oe_structure_blog_sidebar_index_4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="oe_structure oe_empty oe_structure_not_nearest"
             id="oe_structure_blog_footer"
             data-editor-sub-message="Hiện trên mọi trang blog"></div>
    </div>
</main>