@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main style="">
    <div id="wrap" class="o_portal_wrap">
        <div class="container mb64">
            <div class="o_portal_security_body">
                <section name="portal_change_password">
                    <h3>Đổi mật khẩu</h3>
                    <form asp-controller="Account" asp-action="ChangePassword" method="post" class="oe_reset_password_form">
                        <input type="hidden" name="csrf_token" value="bd5e3a93ad823cc6bee3ca061ecd683171d131aeo1744558427">
                        <div class="mb-3">
                            <label for="current">Password: </label>
                            <input type="password" id="current" name="oldPassword" autocomplete="current-password" required="required" class="form-control form-control-sm ">
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="new">New Password: </label>
                            <input type="password" id="new" name="newPassword" autocomplete="new-password" required="required" class="form-control form-control-sm ">
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="new2">Verify New Password: </label>
                            <input type="password" id="new2" name="reNewPassword" autocomplete="new-password" required="required" class="form-control form-control-sm ">
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        @if (ViewBag.changeSuccess != null)
                        {
                            <div class="alert alert-success">@ViewBag.changeSuccess</div>
                        }
                        <button type="submit" class="btn btn-secondary">Đổi mật khẩu</button>
                    </form>
                </section>

                <div class="d-none" id="totp_wizard_view">
                    &lt;form&gt;
                    &lt;sheet&gt;
                    &lt;div class="o_auth_totp_enable_2FA container"&gt;
                    &lt;div class="mb-3 w-100"&gt;
                    &lt;h3 class="fw-bold"&gt;Cài đặt Ứng dụng Xác thực&lt;/h3&gt;
                    &lt;ul&gt;
                    &lt;div class="d-md-none d-block"&gt;
                    &lt;li&gt;
                    &lt;field class="text-wrap" name="url" widget="url" options="{'website_path': True}" text="Nhấp vào liên kết này để mở ứng dụng xác thực của bạn"/&gt;&lt;/li&gt;
                    &lt;/div&gt;
                    &lt;li&gt;
                    &lt;div class="d-flex align-items-center flex-wrap"&gt;
                    &lt;span class="d-md-none d-block"&gt;Hoặc cài đặt một ứng dụng xác thực&lt;/span&gt;
                    &lt;span class="d-none d-md-block"&gt;Cài đặt ứng dụng xác thực trên thiết bị di động của bạn&lt;/span&gt;
                    &lt;div class="d-block d-md-none"&gt;
                    &lt;a href="https://play.google.com/store/search?q=authenticator&amp;amp;c=apps" class="mx-2" target="blank"&gt;
                    &lt;img alt="Trên Kho ứng dụng Google" style="width: 24px;" src="/base_setup/static/src/img/logo_google_play.png"/&gt;
                    &lt;/a&gt;
                    &lt;a href="http://appstore.com/2fa" class="mx-2" target="blank"&gt;
                    &lt;img alt="Trên Kho ứng dụng Apple" style="width: 24px;" src="/base_setup/static/src/img/logo_apple_store.png"/&gt;
                    &lt;/a&gt;
                    &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;/li&gt;

                    &lt;span class="text-muted"&gt;Các ứng dụng phổ biến bao gồm Authy, Google Authenticator hoặc Microsoft Authenticator.&lt;/span&gt;
                    &lt;li&gt;Tìm nút "Thêm một tài khoản"&lt;/li&gt;
                    &lt;li&gt;
                    &lt;span class="d-none d-md-block"&gt;Khi yêu cầu thực hiện việc này, hãy quét mã vạch dưới đây&lt;/span&gt;
                    &lt;span class="d-block d-md-none"&gt;Khi yêu cầu thực hiện việc này, hãy sao chép khóa dưới đây&lt;/span&gt;
                    &lt;/li&gt;
                    &lt;/ul&gt;

                    &lt;!-- Desktop version --&gt;
                    &lt;div class="text-center d-none d-md-block"&gt;
                    &lt;field name="qrcode" readonly="True" widget="image"/&gt;

                    &lt;h3 class="fw-bold"&gt;&lt;a data-bs-toggle="collapse" href="#collapseTotpSecret" role="button" aria-expanded="false" aria-controls="collapseTotpSecret"&gt;Bạn không thể quét?&lt;/a&gt;&lt;/h3&gt;
                    &lt;div class="collapse" id="collapseTotpSecret"&gt;
                    &lt;field name="secret" widget="CopyClipboardChar" readonly="1" class="mb-3 ps-3"/&gt;
                    &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;!-- Mobile Version --&gt;
                    &lt;div class="text-center d-block d-md-none"&gt;
                    &lt;field name="secret" widget="CopyClipboardChar" readonly="1" class="mb-3 ps-3"/&gt;
                    &lt;/div&gt;

                    &lt;h3 class="fw-bold"&gt;Nhập mã gồm 6 chữ số của bạn dưới đây&lt;/h3&gt;
                    &lt;div class="mt-2"&gt;
                    &lt;label for="code" class="px-0"&gt;Mã Xác minh&lt;/label&gt;
                    &lt;div class="d-flex align-items-center"&gt;
                    &lt;field required="True" name="code" autocomplete="off" class="o_field_highlight px-0 me-2" placeholder="VD: 123456"/&gt;
                    &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;/sheet&gt;
                    &lt;footer&gt;
                    &lt;button type="object" name="enable" class="btn btn-primary" string="Kích hoạt" data-hotkey="q"/&gt;
                    &lt;button string="Hủy" special="cancel" data-hotkey="z"/&gt;
                    &lt;/footer&gt;
                    &lt;/form&gt;
                </div>
                <section>
                    <h3>
                        Xác thực hai yếu tố
                        <a href="https://www.odoo.com/documentation/16.0/applications/general/auth/2fa.html" target="_blank">
                            <i title="Tài liệu" class="fa fa-fw o_button_icon fa-info-circle"></i>
                        </a>
                    </h3>
                    <div class="alert alert-secondary" role="status">
                        <i class="fa fa-warning"></i>
                        Không bật xác thực hai yếu tố
                    </div>
                    <button type="button" class="btn btn-secondary" id="auth_totp_portal_enable">
                        Bật xác thực hai yếu tố
                    </button>
                </section>
                <section name="portal_deactivate_account">
                    <h3>Delete Account</h3>
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#portal_deactivate_account_modal">
                        Delete Account
                    </button>
                    <div id="portal_deactivate_account_modal" tabindex="-1" role="dialog" class="modal ">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-danger">
                                    <h5 class="modal-title">Are you sure you want to do this?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <form action="/my/deactivate_account" method="post" class="modal-body" id="portal_deactivate_account_form">
                                    <div>

                                        <p class="text-muted">
                                            Disable your account, preventing any further login.<br>
                                            <b>
                                                <i class="fa fa-exclamation-triangle text-danger"></i>
                                                This action cannot be undone.
                                            </b>
                                        </p>
                                        <hr>
                                        <p>1. Enter your password to confirm you own this account</p>
                                        <input name="password" type="password" required="1" placeholder="Mật khẩu" class="form-control ">
                                        <hr>
                                        <p>
                                            2. Confirm you want to delete your account by
                                            copying down your login (hao@gmail.com).
                                        </p>
                                        <input name="validation" type="text" required="1" class="form-control ">
                                        <div class="d-flex flex-row align-items-center">
                                            <input type="checkbox" name="request_blacklist" id="request_blacklist" checked="1">
                                            <label for="request_blacklist" class="ms-2 mw-100 fw-normal mt-3">
                                                Put my email and phone in a block list to make sure I'm never contacted again
                                            </label>
                                        </div>
                                    </div>
                                    <input type="hidden" name="csrf_token" value="bd5e3a93ad823cc6bee3ca061ecd683171d131aeo1744558427">
                                </form>
                                <div class="modal-footer justify-content-start">
                                    <input type="submit" class="btn btn-danger" form="portal_deactivate_account_form" value="Delete Account">
                                    <button type="button" class="btn" data-bs-dismiss="modal">
                                        Hủy
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</main>

