@using BNI.Models.ViewModel;
@model ResetPasswordViewModel

<head>
    <meta property="og:title" content="Câu chuyện thành công | BNI Vũng Tàu" />

    <meta name="twitter:title" content="Câu chuyện thành công | BNI Vũng Tàu" />

    <title>Đặt lại mật khẩu| BNI Vũng Tàu</title>
</head>
<main>

    <div class="oe_website_login_container">

        <form class="oe_reset_password_form" asp-controller="Account" asp-action="EmailResetPassword" method="post">
            <input type="hidden" name="csrf_token" value="fc409828b88ecdbf76a8b26554346c581a5a64eao1742396613" />

            <div class="mb-3 field-login">
                <label for="email" class="col-form-label">Email của Bạn</label>
                <input type="text" name="email" id="email" class="form-control" value="@Model.Email" autofocus="autofocus" required="required" autocapitalize="off" readonly/>
            </div>

            <div class="mb-3 field-name">
                <label for="fullName">Tên của Bạn</label>
                <input type="text" name="fullName" id="fullName" value="@Model.FullName" class="form-control form-control-sm" placeholder="VD: John Doe" required="required" readonly />
            </div>

            <div class="mb-3 field-password pt-2">
                <label for="password">Mật khẩu</label>
                <input type="password" name="password" id="password" class="form-control form-control-sm" required="required" />
            </div>

            <div class="mb-3 field-confirm_password">
                <label for="rePassword">Xác nhận Mật khẩu</label>
                <input type="password" name="rePassword" id="rePassword" class="form-control form-control-sm" required="required" />
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" name="redirect" />
            <input type="hidden" name="token" />
            <div class="clearfix oe_login_buttons d-grid mt-3">
                <button type="submit" class="btn btn-primary">Đặt lại Mật khẩu</button>
                <div class="d-flex justify-content-between align-items-center small mt-2">
                    <a href="~/Account/Login">Quay lại Đăng nhập</a>
                </div>
                <div class="o_login_auth"></div>
            </div>

        </form>

    </div>

</main>
