<head>
    <meta property="og:title" content="BNI Vũng Tàu" />
    <meta name="twitter:title" content="BNI Vũng Tàu" />
    <title>BNI Vũng Tàu</title>
</head>

<main>
    <div id="wrap" class="js_blog website_blog">
        <section id="o_wblog_post_top">
            <div class="container">
                <div id="title" class="blog_header o_wblog_regular_cover_container container">
                    <nav aria-label="breadcrumb"
                        class="breadcrumb flex-nowrap py-0 px-0 css_editable_mode_hidden mt-4 mb-3 bg-transparent">
                        <li class="breadcrumb-item">
                            <a href="/views/blogs/blog.html">Tất cả blog</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/views/blogs/news.html">Tin tức</a>
                        </li>
                        <li class="breadcrumb-item text-truncate active">
                            <span>Ngày Hội Kết Nối Giao Thương</span>
                        </li>
                    </nav>

                    <div>
                        <div class="o_wblog_post_title mb-3 js_comment">
                            <h1 id="o_wblog_post_name" data-oe-expression="blog_post.name" placeholder="Tiêu đề"
                                data-blog-id="6">
                                Ngày Hội Kết Nối Giao Thương
                            </h1>
                        </div>
                        <div class="text-muted mb-2">
                            <i class="fa fa-clock-o fa-fw"></i>
                            <span class="text-muted">25 tháng 6, 2023</span>
                            <span>
                                bởi
                                <div class="o_not_editable align-items-center position-relative d-inline-flex me-2">
                                    <div style="line-height: 1">
                                        <span>360 CORP, Nguyễn Đức Dương</span>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div data-name="Ảnh bìa" style="" data-use_size="True" data-res-model="blog.post" data-res-id="6"
                        class="o_record_cover_container d-flex flex-column h-100 o_colored_level o_cc o_cc3 o_cc o_full_screen_height o_record_has_cover o_wblog_post_page_cover o_wblog_post_page_cover_regular rounded shadow overflow-hidden">
                        <div style="
                      background-image: url('/images/331523524_580332950801717_8681301811194569582_n.jpg');
                    " class="o_record_cover_component o_record_cover_image"></div>
                    </div>
                </div>
            </div>
        </section>

        <section id="o_wblog_post_main" class="container pt-4 pb-5">
            <div class="o_container_small">
                <div class="d-flex flex-column flex-lg-row">
                    <div id="o_wblog_post_content" class="o_container_small w-100 flex-shrink-0">
                        <div data-editor-message="WRITE HERE OR DRAG BUILDING BLOCKS"
                            class="o_wblog_post_content_field js_comment o_wblog_read_text">
                            <p style="text-align: right">
                                <span style="font-size: 14px">
                                    <em>Thành phố Vũng Tàu, ngày 19 tháng 2 năm 2023</em>
                                </span>
                            </p>

                            <p style="text-align: left">
                                Buổi kết nối liên chapter giữa 2 chapter BNI
                                <strong>Cap Saint Jacques Vũng Tàu</strong> và
                                <strong>BNI Unity Bà Rịa</strong> với 120 khách mời, 150
                                cơ hội kinh doanh. Nhiều cơ hội kinh doanh được chốt tại
                                chổ.
                            </p>

                            <div class="o_text_columns">
                                <div class="row">
                                    <div class="o_colored_level col-lg-6">
                                        <p style="text-align: left">
                                            <img src="~/images/331742339_9211150668902784_5342374218651198572_n.jpg?access_token=a1f46513-42c1-4e81-ae91-1547def1d892"
                                                alt="" class="img img-fluid o_we_custom_image"
                                                style="width: 100% !important" data-original-id="1602"
                                                data-original-src="~/images/331742339_9211150668902784_5342374218651198572_n.jpg"
                                                data-mimetype="image/jpeg" data-resize-width="600" loading="lazy"
                                                data-bs-original-title="" title=""
                                                aria-describedby="tooltip666532" /><br />
                                        </p>
                                    </div>
                                    <div class="o_colored_level col-lg-6">
                                        <p style="text-align: left">
                                            <img src="~/images/331272888_595701795322746_3793167014250766486_n.jpg?access_token=a2bd0437-9ff7-445e-9fd2-42df1932ae67"
                                                alt="" class="img img-fluid o_we_custom_image" data-original-id="1600"
                                                data-original-src="~/images/331272888_595701795322746_3793167014250766486_n.jpg"
                                                data-mimetype="image/jpeg" data-bs-original-title="" title=""
                                                aria-describedby="tooltip862207" style="width: 100% !important"
                                                loading="lazy" /><br />
                                        </p>
                                    </div>
                                    <div class="o_colored_level col-lg-6" style="">
                                        <p style="text-align: left">
                                            <img src="~/images/331774002_850648012700691_1625440284313315444_n.jpg?access_token=f6215a2a-8341-4004-918e-2191335c3ffd"
                                                alt="" class="img img-fluid o_we_custom_image"
                                                style="width: 100% !important" data-original-id="1603"
                                                data-original-src="~/images/331774002_850648012700691_1625440284313315444_n.jpg"
                                                data-mimetype="image/jpeg" data-resize-width="600" loading="lazy"
                                                data-bs-original-title="" title=""
                                                aria-describedby="tooltip374165" /><br />
                                        </p>
                                    </div>
                                    <div class="o_colored_level col-lg-6 pb0">
                                        <p>
                                            <img src="~/images/332254275_1325810614661484_7578539231893972048_n.jpg?access_token=d46d1bb9-844d-4a38-b875-734f82baa050"
                                                alt="" class="img img-fluid o_we_custom_image" data-original-id="1601"
                                                data-original-src="~/images/332254275_1325810614661484_7578539231893972048_n.jpg"
                                                data-mimetype="image/jpeg" data-bs-original-title="" title=""
                                                aria-describedby="tooltip763938" loading="lazy"
                                                style="width: 100% !important" /><br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="css_editable_mode_hidden text-muted">
                            <div>
                                trong <a href="/views/blogs/news.html"><b>Tin tức</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="o_wblog_post_footer">
            <div class="mt-5">
                <div class="container">
                    <div class="mb-4 mx-auto o_container_small">
                        <hr />
                        <div class="d-flex text-end py-4">
                            <div class="flex-grow-1 pe-3">
                                <span class="bg-o-color-3 h6 d-inline-block py-1 px-2 rounded-1">Read Next</span>
                                <a href="/blog/tin-tuc-2/hoi-nghi-dinh-cao-2023-1"
                                    title="Read nextHội Nghị Đỉnh Cao 2023">
                                    <div id="o_wblog_post_name" placeholder="Tiêu đề Blog" class="h2" data-blog-id="1">
                                        Hội Nghị Đỉnh Cao 2023
                                    </div>
                                </a>
                            </div>
                            <a class="w-25" href="/blog/tin-tuc-2/hoi-nghi-dinh-cao-2023-1"
                                title="Read nextHội Nghị Đỉnh Cao 2023">
                                <div data-name="Ảnh bìa" style="background-color: rgba(255, 0, 0, 0.86)"
                                    data-res-model="blog.post" data-res-id="1"
                                    class="o_record_cover_container d-flex flex-column h-100 o_colored_level o_cc o_cc3 o_cc rounded shadow-sm overflow-hidden h-100">
                                    <div style="
                            background-image: url('/images/bni-la-gi-20-scaled.jpg');
                          " class="o_record_cover_component o_record_cover_image"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="oe_structure oe_empty oe_structure_not_nearest" id="oe_structure_blog_footer"
            data-editor-sub-message="Hiện trên mọi trang blog"></div>
    </div>
</main>