<head>
    <meta property="og:title" content="Câu chuyện thành công | BNI Vũng Tàu" />

    <meta name="twitter:title" content="Câu chuyện thành công | BNI Vũng Tàu" />

    <title>Thành viên| BNI Vũng Tàu</title>
</head>
<main>

    <div id="wrap" class="oe_structure oe_empty">
        <section class="s_title o_colored_level o_cc o_cc4 pt120 pb128 oe_img_bg o_bg_img_center" data-vcss="001"
            data-snippet="s_title" style="
                position: relative;
                background-image: url('/images/banner1.jpg');
                background-color: rgba(141, 22, 33, 0.54);
              " data-original-id="966" data-original-src="~/images/banner1.jpg" data-mimetype="image/jpeg"
            data-resize-width="1600" data-gl-filter="custom"
            data-filter-options='{"filterColor":"rgba(219, 0, 0, 0.27)"}' data-name="Chỉnh Title">
            <div class="s_allow_columns container">
                <h1 style="text-align: center">
                    <font class="text-o-color-4" style="text-transform: uppercase">thành viên</font>
                    <br />
                </h1>
            </div>
        </section>
        <section class="s_text_block o_colored_level pb0 pt104" data-snippet="s_text_block" data-name="Text"
            style="background-image: none;">
            <div class="container s_allow_columns">
                <h2 style="text-align: center;">
                    <font class="text-o-color-5">3 Bước đơn giản để trở thành Thành viên BNI</font>
                </h2>
            </div>
        </section>
        <section class="s_process_steps pt24 o_colored_level s_process_steps_connector_arrow pb0" data-vcss="001"
            data-snippet="s_process_steps" data-name="Steps" style="background-image: none;">
            <svg class="s_process_step_svg_defs position-absolute">
                <defs>
                    <marker class="s_process_steps_arrow_head" markerwidth="15" markerheight="10" refx="6" refy="6"
                        orient="auto" id="s_process_steps_arrow_head1687070110802">
                        <path d="M 2,2 L10,6 L2,10 L6,6 L2,2" vector-effect="non-scaling-size"
                            style="fill: rgb(207, 33, 49);"></path>
                    </marker>
                </defs>
            </svg>
            <div class="container">
                <div class="row g-0">
                    <div class="s_process_step pt24 pb24 o_colored_level col-lg-4">
                        <svg class="s_process_step_connector" viewbox="0 0 350 80" preserveaspectratio="none"
                            style="left: calc(50% + 40px); height: 80px; width: calc((100% - 40px) - 40px);">
                            <path d="M 17.5 40 L 326.5 40" vector-effect="non-scaling-stroke"
                                marker-end="url(#s_process_steps_arrow_head1687070110802)"
                                style="stroke: rgb(207, 33, 49);"></path>
                        </svg>
                        <div class="s_process_step_icon">
                            <i class="fa fa-file-text-o mx-auto text-o-color-4 bg-o-color-2 fa-2x shadow"
                                data-bs-original-title="" title="" aria-describedby="tooltip634222"></i>
                        </div>
                        <div class="s_process_step_content">
                            <h4 style="text-align: center;">1. Hoàn tất đăng ký&nbsp;</h4>
                            <p class="o_default_snippet_text">
                                <br />
                            </p>
                        </div>
                    </div>
                    <div class="s_process_step pt24 o_colored_level col-lg-4 pb24">
                        <svg class="s_process_step_connector" viewbox="0 0 350 80" preserveaspectratio="none"
                            style="left: calc(50% + 40px); height: 80px; width: calc((100% - 40px) - 40px);">
                            <path d="M 17.5 40 L 326.5 40" vector-effect="non-scaling-stroke"
                                marker-end="url(#s_process_steps_arrow_head1687070110802)"
                                style="stroke: rgb(207, 33, 49);"></path>
                        </svg>
                        <div class="s_process_step_icon" style="text-align: center;">
                            <i class="fa fa-arrow-right mx-auto bg-o-color-1 fa-2x shadow" data-bs-original-title=""
                                title="" aria-describedby="tooltip404810"></i>
                        </div>
                        <div class="s_process_step_content">
                            <h4 style="text-align: center;">2. Ban thanh viên xét duyệt</h4>
                        </div>
                    </div>
                    <div class="s_process_step pt24 pb24 o_colored_level col-lg-4">
                        <svg class="s_process_step_connector" viewbox="0 0 242.5 80" preserveaspectratio="none"
                            style="left: calc(50% + 40px); height: 80px; width: calc((100% - 40px) - 40px);">
                            <path d="M 0 40 L 242.5 40" vector-effect="non-scaling-stroke"
                                marker-end="url(#s_process_steps_arrow_head1687070110802)"
                                style="stroke: rgb(207, 33, 49);"></path>
                        </svg>
                        <div class="s_process_step_icon" style="text-align: center;">
                            <i class="fa fa-check mx-auto bg-o-color-5 fa-2x shadow" data-bs-original-title="" title=""
                                aria-describedby="tooltip237395"></i>
                        </div>
                        <div class="s_process_step_content">
                            <h4 style="text-align: center;">3.&nbsp;Kết nạp thành viên</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s_title o_colored_level pt24 pb56" data-vcss="001" data-snippet="s_title" data-name="Title"
            style="background-image: none;">
            <div class="s_allow_columns container">
                <div class="s_hr text-start pt4 pb0" data-snippet="s_hr" data-name="Separator">
                    <hr class="w-100 mx-auto" style="border-top: 10px solid rgb(207, 33, 49);" />
                </div>
            </div>
        </section>
        <section class="s_faq_collapse pb32 o_colored_level pt0 s_faq_collapse_boxed" data-snippet="s_faq_collapse"
            data-name="Accordion" style="background-image: none;">
            <div class="container">
                <div id="myCollapse1687797921649" class="accordion" role="tablist">
                    <div class="card bg-white" data-name="Item">
                        <a href="#" role="tab" data-bs-toggle="collapse" aria-expanded="false"
                            class="card-header collapsed" data-bs-target="#myCollapseTab484863_1">Phí Thành Viên Mới</a>
                        <div data-bs-parent="#myCollapse1687797921649" role="tabpanel" id="myCollapseTab484863_1"
                            class="collapse">
                            <div class="card-body">
                                <h3 class="card-text">
                                    <em>
                                        <font class="text-o-color-5">16.335.000 VNĐ&nbsp;</font>
                                    </em>
                                    <font class="text-o-color-5">
                                    </font>
                                    <br />
                                </h3>

                                <p>
                                    <span class="o_default_snippet_text" style="font-size: 18px;">
                                        Đối với thành viên khi
                                        đăng ký gia nhập trong 1 năm
                                    </span>
                                </p>

                                <h3>
                                    <em>
                                        <font class="text-o-color-5 o_default_snippet_text">27.765.320 VNĐ</font>
                                    </em>
                                    <br />
                                </h3>

                                <p class="card-text o_default_snippet_text">
                                    <span class="o_default_snippet_text" style="font-size: 18px;">
                                        Đối với thành viên khi
                                        đăng ký gia nhập trong 2 năm - Tiết kiệm <strong>
                                            <font class="text-o-color-1 o_default_snippet_text">15%</font>
                                        </strong>
                                    </span>
                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-white" data-name="Item">
                        <a href="#" role="tab" data-bs-toggle="collapse" aria-expanded="false"
                            class="card-header collapsed" data-bs-target="#myCollapseTab484863_2">Phí Tái Gia Nhập</a>
                        <div data-bs-parent="#myCollapse1687797921649" role="tabpanel" id="myCollapseTab484863_2"
                            class="collapse">
                            <div class="card-body">
                                <h3 class="card-text">
                                    <font class="text-o-color-5">
                                        <em>14.135.000 VNĐ</em>
                                    </font>
                                    <em>
                                    </em>
                                    <font class="text-o-color-5">
                                    </font>
                                    <br />
                                </h3>

                                <p>
                                    <span class="o_default_snippet_text" style="font-size: 18px;">
                                        Đối với thành viên khi
                                        tái&nbsp;gia nhập trong 1 năm
                                    </span>
                                </p>

                                <h3>
                                    <font class="text-o-color-5">
                                        <em class="o_default_snippet_text">25.565.320 VNĐ</em>
                                    </font>
                                    <br />
                                </h3>

                                <p class="card-text">
                                    Đ<span class="o_default_snippet_text" style="font-size: 18px;">
                                        ối với thành viên khi
                                        tái gia nhập trong 2 năm - Tiết kiệm
                                    </span>
                                    <strong>
                                        <font class="text-o-color-1 o_default_snippet_text">10%</font>
                                    </strong><br />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-white" data-name="Item">
                        <a href="#" role="tab" data-bs-toggle="collapse" aria-expanded="false"
                            class="card-header collapsed" data-bs-target="#myCollapseTab484863_3">
                            Quy Định Thanh
                            Toán
                        </a>
                        <div data-bs-parent="#myCollapse1687797921649" role="tabpanel" id="myCollapseTab484863_3"
                            class="collapse">
                            <div class="card-body">
                                <h3 class="card-text o_default_snippet_text">
                                    Trễ hẹn tái gia nhập
                                    <em>
                                        <font class="text-o-color-5"></font>
                                    </em>
                                    <br />
                                </h3>

                                <p>
                                    <span class="o_default_snippet_text" style="font-size: 18px;">
                                        Thành viên vượt quá
                                        thời hạn tái gia nhập sẽ đóng phạt thêm 550.000 VNĐ
                                    </span>
                                </p>

                                <h3>
                                    <font class="text-800 o_default_snippet_text">Chỉ tham gia tối đa một Chapter</font>
                                </h3>

                                <p class="card-text">
                                    <span style="font-size: 18px;">
                                        Một thành viên chỉ có thể gia nhập một Chapter BNI®.
                                        Thành viên không thể tham gia bất kỳ tổ chức, hiệp hội có chức năng tương tự BNI
                                        về phương diện trao đổi cơ hội kinh doanh (Referrals) &amp; Networking.
                                    </span>
                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="s_title o_colored_level pt32 pb40 o_cc o_cc2" data-vcss="001" data-snippet="s_title"
            style="background-image: none;" data-name="Chỉnh Title (3)">
            <div class="s_allow_columns container">
                <h2 style="text-align: center;">
                    <font class="text-black">THÀNH VIÊN&nbsp;</font>
                    <font class="text-o-color-5">CHÍNH THỨC</font>
                    <font class="text-black">&nbsp;</font>​<br />
                </h2>
                <div class="s_hr text-start pb32 pt0" data-snippet="s_hr" data-name="Separator">
                    <hr class="w-25 mx-auto" style="border-top: 3px solid rgb(207, 33, 49);" />
                </div>
            </div>
        </section>

        <section data-snippet="s_dynamic_snippet"
            class="s_public_members s_public_member_snippet s_dynamic pt32 pb32 o_colored_level s_member_effect_scale s_member_hidden_social s_public_member_snippet_temp2"
            data-name="Public Member Snippet" style="background-image: none;">
            <div class="o_not_editable container">
                <div class="dynamic_snippet_template">
                    <div class="container mb32">
                        <div class="">
                            <div class="mb-5 o_member_search_bar">
                                <div role="search" class="input-group input-group-lg">
                                    <input type="search" name="keyword" id="member-search-query" class="form-control"
                                        placeholder="Nhập tên, tên công ty" data-search-type="members" data-limit="5"
                                        data-display-image="true" data-display-description="true"
                                        data-display-extra-link="true" data-display-detail="false"
                                        data-order-by="name asc">
                                    <button id="btn_search"
                                        class="btn oe_search_button border border-dark pe-md-5 px-md-5"
                                        aria-label="Tìm kiếm" title="Tìm kiếm">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                    <button id="btn_close_search" style="display:none;" type="button"
                                        class="btn-close o_member_search_close" aria-label="Đóng"></button>
                                </div>

                                <input name="order" type="hidden" class="o_search_order_by" value="name asc">
                                <input type="hidden" name="order" value="name asc">
                                <input type="hidden" name="date" value="old">
                                <input type="hidden" name="tags" value="">
                            </div>

                            <div id="block_member" class="row justify-content-evenly">
                                @Html.Partial("Item_Member")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<script>
    $(function () {
        $("#btn_search").on("click", function () {
            var keyword = $("#member-search-query").val();
            if (keyword) { Search(keyword); }
        });

        $("#btn_close_search").on("click", function () {
            Search("");
            $("#btn_close_search").hide();
        });
    });

    function Search(keyword = "") {
        $.ajax({
            type: "POST",
            url: "/Member/MemberSearch",
            data: { keyword: keyword },
            success: function (data) {
                console.log(data);
                $("#block_member").html(data.view);
                $("#block_member").attr("class", "row justify-content-evenly");
                $("#btn_search").find("span").remove();
                if (!(keyword == "")) {
                    $("#btn_search").append(`<span class="oe_search_found"><small>(${data.count} kết quả)</small></span>`);
                    $("#btn_close_search").show();
                }
                $("#member-search-query").val("");
            },
            error: function (data) {
                console.error(data)
            }
        });
    }
</script>