<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class=""><div class="aHl"></div><div id=":n6" tabindex="-1"></div><div id=":mw" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc5NjAwNjU4OTAyMDE3Njc3OSJd; 4:WyIjbXNnLWY6MTc5NjAwNjU4OTAyMDE3Njc3OSJd"><div id=":mv" class="a3s aiL "><table border="0" cellpadding="0" cellspacing="0" style="padding-top:16px;background-color:#ffffff;font-family:Verdana,Arial,sans-serif;color:#454748;width:100%;border-collapse:separate"><tbody><tr><td align="center">
<font color="#888888">
    </font><font color="#888888">
</font><table border="0" cellpadding="0" cellspacing="0" width="590" style="padding:16px;background-color:#ffffff;color:#454748;border-collapse:separate">
<tbody>
    
    <tr>
        <td align="center" style="min-width:590px">
            <table border="0" cellpadding="0" cellspacing="0" width="590" style="min-width:590px;background-color:white;padding:0px 8px 0px 8px;border-collapse:separate">
                <tbody><tr><td valign="middle">
                    <span style="font-size:10px">Tài khoản của Bạn</span><br>
                    <span style="font-size:20px;font-weight:bold">
                       {{fullName}}
                    </span>
                </td><td valign="middle" align="right">
                    <img style="padding:0px;margin:0px;height:auto;width:80px" src="https://ci3.googleusercontent.com/meips/ADKq_NZ4CCSeJVGFaupYmoIasCACJzNMDVX7kJuS35ealY2zl0exp5Kks17Q2akYpk-x3wzLe_dzcvfcbVY9HjEn6Q=s0-d-e1-ft#https://csjchapter.com/logo.png?company=1" alt="CSJ Chapter" class="CToWUd" data-bit="iit">
                </td></tr>
                <tr><td colspan="2" style="text-align:center">
                  <hr width="100%" style="background-color:rgb(204,204,204);border:medium none;clear:both;display:block;font-size:0px;min-height:1px;line-height:0;margin:16px 0px 16px 0px">
                </td></tr>
            </tbody></table>
        </td>
    </tr>
    
    <tr>
        <td align="center" style="min-width:590px">
            <font color="#888888">
            </font><table border="0" cellpadding="0" cellspacing="0" width="590" style="min-width:590px;background-color:white;padding:0px 8px 0px 8px;border-collapse:separate">
                <tbody><tr><td valign="top" style="font-size:13px">
                    <div>
                        Xin chào {{fullName}},<br><br>
                        Tài khoản Odoo được liên kết với email này đã được yêu cầu đặt lại mật khẩu.
                        Bạn có thể thay đổi mật khẩu bằng cách nhấp vào liên kết này với hiệu lực trong vòng 24 giờ:<br>
                        <div style="margin:16px 0px 16px 0px">
                            <a style="background-color:#875a7b;padding:8px 16px 8px 16px;text-decoration:none;color:#fff;border-radius:5px;font size:13px" href="https://localhost:7289/account/EmailResetPassword?email={{email}}&fullname={{fullName}}" target="_blank">
                                Thay đổi mật khẩu
                            </a>
                        </div>
                        Nếu không, bạn có thể yên tâm bỏ qua email này.<br><br>
                        Xin cảm ơn!
                            <br>
                            <p>--<br>Public user</p>
                    </div>
                </td></tr>
                <tr><td style="text-align:center">
                  <hr width="100%" style="background-color:rgb(204,204,204);border:medium none;clear:both;display:block;font-size:0px;min-height:1px;line-height:0;margin:16px 0px 16px 0px"><font color="#888888">
                </font></td></tr></tbody></table><font color="#888888">
        </font></td></tr>
    
        <tr>
            <td align="center" style="min-width:590px">
                <table border="0" cellpadding="0" cellspacing="0" width="590" style="min-width:590px;background-color:white;font-size:11px;padding:0px 8px 0px 8px;border-collapse:separate">
                    <tbody><tr><td valign="middle" align="left">
                        CSJ Chapter
                    </td></tr>
                    <tr><td valign="middle" align="left" style="opacity:0.7">
                    

                            | <a style="text-decoration:none;color:#454748" href="mailto:info@csjchapter.com" target="_blank">info@csjchapter.com</a>
                            | <a style="text-decoration:none;color:#454748" href="https://www.csjchapter.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.csjchapter.com&amp;source=gmail&amp;ust=1712892445770000&amp;usg=AOvVaw3YNVZCOx8dWJNsXvbAQips" data-saferedirectreason="2">https://www.csjchapter.com</a>
                    </td></tr>
                </tbody></table>
            </td>
        </tr>
</tbody></table><font color="#888888">
</font></td></tr>

<tr><td align="center" style="min-width:590px">
    <table border="0" cellpadding="0" cellspacing="0" width="590" style="min-width:590px;background-color:#f1f1f1;color:#454748;padding:8px;border-collapse:separate">
      <tbody><tr><td style="text-align:center;font-size:13px">
        Cung cấp bởi <a href="https://www.odoo.com?utm_source=db&amp;utm_medium=auth" style="color:#875a7b" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.odoo.com?utm_source%3Ddb%26utm_medium%3Dauth&amp;source=gmail&amp;ust=1712892445770000&amp;usg=AOvVaw0T8VQfhuqODTMfsp2KWSqN">V</a>UA HỆ THỐNG</td></tr>
    </tbody></table>
</td></tr>
</tbody></table><div class="yj6qo"></div><div class="adL">
            
</div></div></div><div class="WhmR8e" data-hash="0"></div></div>
</body>
</html>