<head>
    <meta property="og:title" content="Câu chuyện thành công | BNI Vũng Tàu" />

    <meta name="twitter:title" content="Câu chuyện thành công | BNI Vũng Tàu" />

    <title>Home | BNI Vũng Tàu</title>
</head>

<main style="padding-top: 71px">
    <div id="wrap" class="oe_structure oe_empty">
        <section class="s_banner pb48 o_colored_level s_parallax_no_overflow_hidden pt256 o_cc o_cc1 oe_img_bg o_bg_img_center"
                 data-scroll-background-ratio="0"
                 data-snippet="s_banner"
                 data-name="Banner"
                 style="
              position: relative;
              background-image: url('~/images/bni-la-gi-20-scaled.jpg');
              background-color: rgb(172, 27, 41);
            "
                 data-bg-video-src="//player.vimeo.com/video/420192073?autoplay=1&amp;muted=1&amp;autopause=0&amp;controls=0&amp;loop=1"
                 data-original-id="1613"
                 data-original-src="~/images/bni-la-gi-20-scaled.jpg"
                 data-mimetype="image/jpeg"
                 data-resize-width="1920"
                 data-gl-filter="blur">
            <div class="container">
                <div class="row s_nb_column_fixed">
                    <div class="jumbotron rounded o_cc o_cc1 pb32 col-lg-8 pt48 px-5 o_colored_level"
                         data-name="Box"
                         style="
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                  ">
                        <h1>
                            <b>
                                Welcome to
                                <font class="text-o-color-5">CSJ Chapter</font>
                            </b>
                            <font class="text-o-color-5">.</font>
                        </h1>
                        <p class="lead" style="text-align: justify">
                            CSJ (Cap Saint Jacques) Chapter là một trong những Chapter
                            đời đầu của BNI tại Việt Nam, thành lập từ năm 2013 và hoạt
                            động tại thành phố Vũng Tàu. Chapter gồm hơn 50+ thành viên
                            đại diện cho nhiều lĩnh vực kinh doanh khác nhau như: Chuyển
                            đổi số 4.0, tài chính, xây dựng, bất động sản, giáo dục,
                            thương mại, du lịch, thiết kế, in ấn, sản xuất, chăm sóc sức
                            khoẻ...<br />
                        </p>
                        <p>
                            <br />
                        </p>
                        <a class="btn btn-primary mb-2"
                           href="/contactus"
                           data-bs-original-title=""
                           title="">
                            Liên hệ làm khách mời
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="s_title o_colored_level pb16 pt88 o_cc o_cc2"
                 data-vcss="001"
                 data-snippet="s_title"
                 data-name="Title"
                 style="background-image: none; position: relative">
            <div class="s_allow_columns container">
                <h2 style="text-align: center">
                    <font class="text-800">NHÓM&nbsp;</font><font class="text-o-color-5"><strong>NGHỀ NGHIỆP</strong></font>&ZeroWidthSpace;<br />
                </h2>
                <div class="s_hr text-start pb32 pt0"
                     data-snippet="s_hr"
                     data-name="Separator">
                    <hr class="w-25 mx-auto"
                        style="border-top: 3px solid rgb(207, 33, 49)" />
                </div>
            </div>
        </section>
        <section class="s_three_columns pb64 o_colored_level pt0 o_cc o_cc2"
                 data-vcss="001"
                 data-snippet="s_three_columns"
                 data-name="Columns"
                 style="position: relative; background-image: none"
                 id="https%3A%2F%2Fcsjchapter.com%2F%40%2Fho-tro-doanh-nghiep"
                 data-anchor="true">
            <div class="container">
                <div class="row d-flex align-items-stretch">
                    <div class="s_col_no_bgcolor col-lg-3">
                        <div class="card text-bg-white h-100 shadow"
                             style="
                      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                    ">
                            <a href="https://csjchapter.com/team-ho-tro-doanh-nghiep"
                               data-bs-original-title=""
                               title="">
                                <img src="https://cdn.vietnambiz.vn/2020/4/1/cgcn-158573442996566824195.jpg"
                                     alt=""
                                     class="card-img-top img img-fluid o_we_custom_image"
                                     data-resize-width="undefined"
                                     loading="lazy"
                                     data-bs-original-title=""
                                     title=""
                                     aria-describedby="tooltip105845" />
                            </a>
                            <div class="card-body">
                                <h3 class="card-title" style="text-align: center">
                                    <a href="/team-ho-tro-doanh-nghiep"
                                       data-bs-original-title=""
                                       title=""
                                       aria-describedby="popover417404">
                                        <font class="text-900">Nhóm Hỗ trợ Doanh Nghiệp</font>
                                    </a>
                                </h3>
                                <p class="card-text" style="text-align: left">
                                    <font class="text-600">
                                        Nhóm Hỗ trợ Doanh nghiệp là các doanh nghiệp thành
                                        viên cung cấp dịch vụ tối&nbsp;ưu hóa hoạt động, quản
                                        trị doanh nghiệp và nâng cao hiệu suất kinh
                                        doanh.&nbsp;
                                    </font>
                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="s_col_no_bgcolor col-lg-3">
                        <div class="card text-bg-white h-100"
                             style="
                      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                    ">
                            <a href="https://csjchapter.com/xay-dung-bds"
                               data-bs-original-title=""
                               title="">
                                <img src="https://cdn.lawnet.vn//uploads/NewsThumbnail/2023/02/23/141628giay-phep-xay-dung-cong-trinh-moi.jpg"
                                     alt=""
                                     class="card-img-top img img-fluid o_we_custom_image"
                                     data-resize-width="undefined"
                                     loading="lazy"
                                     data-bs-original-title=""
                                     title=""
                                     aria-describedby="tooltip142124" />
                            </a>
                            <div class="card-body">
                                <h3 class="card-title" style="text-align: center">
                                    <a href="/xay-dung-bds"
                                       data-bs-original-title=""
                                       title="">
                                        <font class="text-900">Nhóm&nbsp;Xây Dựng - BĐS</font>
                                    </a>
                                </h3>
                                <p class="card-text" style="text-align: left">
                                    <span style="
                            color: rgb(33, 37, 41);
                            background-color: rgba(255, 255, 255, 0.9);
                          ">
                                        <font class="text-600">
                                            Nhóm hỗ trợ Dịch vụ xây dựng và bất động sản là các
                                            doanh nghiệp thành viên đóng vai trò quan trọng
                                            trong việc hỗ trợ khách hàng xây dựng, quản lý và
                                            giao dịch bất động sản.
                                        </font>
                                    </span><br />
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="s_col_no_bgcolor col-lg-3">
                        <div class="card text-bg-white h-100"
                             style="
                      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                    ">
                            <a data-bs-original-title=""
                               title=""
                               href="https://csjchapter.com/suc-khoe-sac-dep">
                                <img alt=""
                                     class="card-img-top img img-fluid o_we_custom_image"
                                     data-original-id="743"
                                     data-original-src="/web/image/743-b1fa253e/Beautiful.jpeg"
                                     data-mimetype="image/jpeg"
                                     data-resize-width="275"
                                     loading="lazy"
                                     src="~/images/Beautiful.jpeg"
                                     data-bs-original-title=""
                                     title=""
                                     aria-describedby="tooltip634672" />
                            </a>
                            <div class="card-body">
                                <h3 class="card-title" style="text-align: center">
                                    <a href="/suc-khoe-sac-dep"
                                       data-bs-original-title=""
                                       title="">
                                        <font class="text-900">Nhóm Sức Khoẻ&nbsp;-&nbsp;Sắc Đẹp</font>
                                    </a>
                                </h3>
                                <p class="card-text" style="text-align: left">
                                    <font class="text-600">
                                        Nhóm&nbsp;Sức Khoẻ - Sắc Đẹp tận tâm và chuyên nghiệp
                                        trong việc cung cấp dịch vụ tốt nhất để khách hàng đạt
                                        được sự cân bằng và tự tin về sức khỏe và vẻ đẹp của
                                        mình.
                                    </font>
                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="s_col_no_bgcolor col-lg-3">
                        <div class="card text-bg-white h-100 shadow"
                             style="
                      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                    ">
                            <a data-bs-original-title=""
                               title=""
                               href="https://csjchapter.com/dich-vu-an-uong">
                                <img src="https://satovietnhat.com.vn/Upload/news/nhat-ban-van-hoa-dac-sac.jpg"
                                     alt=""
                                     class="card-img-top img img-fluid o_we_custom_image"
                                     data-resize-width="undefined"
                                     loading="lazy"
                                     data-bs-original-title=""
                                     title=""
                                     aria-describedby="tooltip709861" />
                            </a>
                            <div class="card-body">
                                <h3 class="card-title" style="text-align: center">
                                    <a href="/dich-vu-an-uong"
                                       data-bs-original-title=""
                                       title="">
                                        <font class="text-900">Nhóm Du Lịch - Nghỉ Dưỡng</font>
                                    </a>
                                </h3>
                                <p class="card-text" style="text-align: left">
                                    <font class="text-600">
                                        Nhóm Dịch vụ Ăn Uống đặt lợi ích và trải nghiệm của
                                        khách hàng lên hàng đầu. Bằng cách cung cấp các dịch
                                        vụ chất lượng và đa dạng, đáp ứng nhu cầu&nbsp;về ẩm
                                        thực, dinh dưỡng và trải nghiệm ăn uống.
                                    </font>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s_title o_colored_level pb0 o_cc o_cc1 pt96"
                 data-vcss="001"
                 data-snippet="s_title"
                 style="position: relative; background-image: none"
                 data-name="Chỉnh Chỉnh Title (3)">
            <div class="s_allow_columns container">
                <h2 style="text-align: center">
                    <font class="text-800"></font>

                    <font class="text-900">TỔNG QUAN VỀ</font>

                    <font class="text-o-color-5"> </font>

                    <strong>
                        <font class="text-o-color-5">CSJ CHAPTER</font>
                        <font class="text-black">&ZeroWidthSpace;</font>
                    </strong>
                </h2>
                <div class="s_hr text-start pt0 pb40"
                     data-snippet="s_hr"
                     data-name="Separator">
                    <hr class="w-25 mx-auto"
                        style="
                    border-top-style: solid;
                    border-top-width: 3px !important;
                    border-top-color: rgb(207, 33, 49);
                  " />
                </div>
            </div>
        </section>
        <section class="s_masonry_block o_colored_level pt104"
                 data-vcss="001"
                 data-vxml="001"
                 data-snippet="s_masonry_block"
                 data-name="Masonry"
                 style="
              position: relative;
              background-color: rgb(228, 88, 101);
              background-image: none;
            "
                 data-masonry-template="default_reversed"
                 data-oe-shape-data='{"shape":"web_editor/Origins/18","colors":{"c1":"#BFA7A7"},"flip":["x"]}'>
            <div class="o_we_shape o_web_editor_Origins_18"
                 style="
                background-image: url('/web_editor/shape/web_editor/Origins/18.svg?c1=%23BFA7A7&amp;flip=x');
                background-position: 50% 50%;
              "></div>
            <div class="container">
                <div class="row o_grid_mode" data-row-count="11">
                    <div class="o_grid_item o_grid_item_image text-center o_colored_level g-col-lg-4 g-height-9 col-lg-4"
                         data-name="Block"
                         style="
                    grid-area: 1 / 9 / 10 / 13;
                    z-index: 5;
                    background-image: none;
                  ">
                        <h6>Ngày Thành Lập</h6>
                        <h2>
                            <font class="text-o-color-4">24/08/2013</font>
                        </h2>
                        <p>
                            <br />
                        </p>
                        <h6>Số Thành Viên</h6>
                        <h2>
                            <font class="text-o-color-3">53 Thành Vi&ZeroWidthSpace;ên</font>
                        </h2>
                        <p>
                            <font class="text-o-color-1"></font>
                            <br />
                        </p>
                        <h6>Giá trị giao dịch đạt được trong 4 tháng qua</h6>
                        <h2>
                            <font class="text-o-color-3">40,589 Tỷ</font>
                        </h2>
                    </div>
                    <div class="o_grid_item text-center o_colored_level g-col-lg-2 g-height-3 col-lg-2 o_cc o_cc4 border"
                         data-name="Block"
                         style="
                    grid-area: 1 / 1 / 4 / 3;
                    z-index: 1;
                    background-image: none;
                    border-width: 2px !important;
                  ">
                        <img src="https://csjchapter.com/web/image/1484-a74a883a/Picture13.png"
                             alt=""
                             class="img img-fluid o_we_custom_image mx-auto d-block"
                             data-original-id="1484"
                             data-original-src="/web/image/1484-a74a883a/Picture13.png"
                             data-mimetype="image/png"
                             data-bs-original-title=""
                             title=""
                             aria-describedby="tooltip41839"
                             style="width: 50% !important"
                             loading="lazy" />
                    </div>
                    <div class="o_grid_item text-center o_colored_level g-height-3 o_cc o_cc4 border g-col-lg-2 col-lg-2"
                         data-name="Block"
                         style="
                    border-width: 2px !important;
                    z-index: 1;
                    background-image: none;
                    grid-area: 1 / 3 / 4 / 5;
                  ">
                        <img src="https://csjchapter.com/web/image/1497-d22faf5d/Picture14.png"
                             alt=""
                             class="img img-fluid o_we_custom_image mx-auto d-block"
                             style="width: 50% !important"
                             data-original-id="1485"
                             data-original-src="/web/image/1485-40ee4839/Picture14.png"
                             data-mimetype="image/png"
                             data-resize-width="225"
                             loading="lazy" />
                    </div>
                    <div class="o_grid_item text-center o_colored_level g-height-3 o_cc o_cc4 border g-col-lg-2 col-lg-2"
                         data-name="Block"
                         style="
                    border-width: 2px !important;
                    z-index: 1;
                    background-image: none;
                    grid-area: 1 / 5 / 4 / 7;
                  ">
                        <img src="https://csjchapter.com/web/image/1496-b454c403/Picture15.png"
                             alt=""
                             class="img img-fluid o_we_custom_image mx-auto d-block"
                             style="width: 50% !important"
                             data-original-id="1486"
                             data-original-src="/web/image/1486-3ee2278f/Picture15.png"
                             data-mimetype="image/png"
                             data-resize-width="226"
                             loading="lazy" />
                    </div>
                    <div class="o_grid_item text-center o_colored_level g-height-3 o_cc o_cc4 border g-col-lg-2 col-lg-2"
                         data-name="Block"
                         style="
                    border-width: 2px !important;
                    z-index: 1;
                    background-image: none;
                    grid-area: 1 / 7 / 4 / 9;
                  ">
                        <img src="https://csjchapter.com/web/image/1498-669cb74d/Picture16.png"
                             alt=""
                             class="img img-fluid o_we_custom_image mx-auto d-block o_we_force_no_transition"
                             style="width: 50% !important"
                             data-original-id="1487"
                             data-original-src="/web/image/1487-d99f92a5/Picture16.png"
                             data-mimetype="image/png"
                             data-resize-width="209"
                             loading="lazy" />
                    </div>
                    <div class="o_grid_item text-center o_colored_level g-col-lg-2 g-height-3 col-lg-2 o_cc o_cc4 border"
                         data-name="Block"
                         style="
                    z-index: 1;
                    border-width: 2px !important;
                    background-image: none;
                    grid-area: 4 / 1 / 7 / 3;
                  ">
                        <img src="https://csjchapter.com/web/image/1501-8f9899d5/Picture17.png"
                             alt=""
                             class="img img-fluid o_we_custom_image mx-auto d-block"
                             style="width: 50% !important"
                             data-original-id="1488"
                             data-original-src="/web/image/1488-f9811c8a/Picture17.png"
                             data-mimetype="image/png"
                             data-resize-width="226"
                             loading="lazy" />
                    </div>
                    <div class="o_grid_item text-center o_colored_level g-col-lg-2 g-height-3 col-lg-2 o_cc o_cc4 border o_we_force_no_transition"
                         data-name="Block"
                         style="
                    z-index: 1;
                    border-width: 2px !important;
                    background-image: none;
                    grid-area: 7 / 1 / 10 / 3;
                  ">
                        <img src="https://csjchapter.com/web/image/1500-058cf4de/Picture21.png"
                             alt=""
                             class="img img-fluid o_we_custom_image mx-auto d-block"
                             style="width: 50% !important"
                             data-original-id="1492"
                             data-original-src="/web/image/1492-a885e60e/Picture21.png"
                             data-mimetype="image/png"
                             data-resize-width="226"
                             loading="lazy" />
                    </div>
                    <div class="o_grid_item text-center o_colored_level g-col-lg-2 g-height-3 col-lg-2 o_cc o_cc4 border"
                         data-name="Block"
                         style="
                    z-index: 1;
                    border-width: 2px !important;
                    background-image: none;
                    grid-area: 4 / 3 / 7 / 5;
                  ">
                        <img src="https://csjchapter.com/web/image/1499-5f14e6ae/Picture18.png"
                             alt=""
                             class="img img-fluid o_we_custom_image mx-auto d-block"
                             style="width: 50% !important"
                             data-original-id="1489"
                             data-original-src="/web/image/1489-c42dd30e/Picture18.png"
                             data-mimetype="image/png"
                             data-resize-width="225"
                             loading="lazy" />
                    </div>
                    <div class="o_grid_item text-center o_colored_level g-col-lg-2 g-height-3 col-lg-2 o_cc o_cc4 border"
                         data-name="Block"
                         style="
                    z-index: 1;
                    border-width: 2px !important;
                    background-image: none;
                    grid-area: 4 / 5 / 7 / 7;
                  ">
                        <img src="https://csjchapter.com/web/image/1503-a965815f/Picture19.png"
                             alt=""
                             class="img img-fluid o_we_custom_image mx-auto d-block"
                             style="width: 50% !important"
                             data-original-id="1490"
                             data-original-src="/web/image/1490-130b142d/Picture19.png"
                             data-mimetype="image/png"
                             data-resize-width="226"
                             loading="lazy" />
                    </div>
                    <div class="o_grid_item text-center o_colored_level g-col-lg-2 g-height-3 col-lg-2 o_cc o_cc4 border"
                         data-name="Block"
                         style="
                    z-index: 1;
                    border-width: 2px !important;
                    background-image: none;
                    grid-area: 4 / 7 / 7 / 9;
                  ">
                        <img src="https://csjchapter.com/web/image/1502-0b5b5507/Picture20.png"
                             alt=""
                             class="img img-fluid o_we_custom_image mx-auto d-block"
                             style="width: 50% !important"
                             data-original-id="1491"
                             data-original-src="/web/image/1491-a06688d1/Picture20.png"
                             data-mimetype="image/png"
                             data-resize-width="226"
                             loading="lazy" />
                    </div>
                    <div class="o_grid_item text-center o_colored_level g-col-lg-2 g-height-3 col-lg-2 o_cc o_cc4 border"
                         data-name="Block"
                         style="
                    z-index: 1;
                    border-width: 2px !important;
                    background-image: none;
                    grid-area: 7 / 7 / 10 / 9;
                  ">
                        <img src="https://csjchapter.com/web/image/1504-3aa62e2e/Picture24.png"
                             alt=""
                             class="img img-fluid o_we_custom_image mx-auto d-block"
                             style="width: 50% !important"
                             data-original-id="1495"
                             data-original-src="/web/image/1495-54248636/Picture24.png"
                             data-mimetype="image/png"
                             data-resize-width="226"
                             loading="lazy" />
                    </div>
                    <div class="o_grid_item text-center o_colored_level g-col-lg-2 g-height-3 col-lg-2 o_cc o_cc4 border"
                         data-name="Block"
                         style="
                    z-index: 1;
                    border-width: 2px !important;
                    background-image: none;
                    grid-area: 7 / 5 / 10 / 7;
                  ">
                        <img src="https://csjchapter.com/web/image/1505-e8f8262a/Picture23.png"
                             alt=""
                             class="img img-fluid o_we_custom_image mx-auto d-block"
                             style="width: 50% !important"
                             data-original-id="1494"
                             data-original-src="/web/image/1494-a091754d/Picture23.png"
                             data-mimetype="image/png"
                             data-resize-width="224"
                             loading="lazy" />
                    </div>
                    <div class="o_grid_item text-center o_colored_level g-col-lg-2 g-height-3 col-lg-2 o_cc o_cc4 border"
                         data-name="Block"
                         style="
                    z-index: 1;
                    border-width: 2px !important;
                    background-image: none;
                    grid-area: 7 / 3 / 10 / 5;
                  ">
                        <img src="https://csjchapter.com/web/image/1506-fc6f95c1/Picture22.png"
                             alt=""
                             class="img img-fluid o_we_custom_image mx-auto d-block"
                             style="width: 50% !important"
                             data-original-id="1493"
                             data-original-src="/web/image/1493-049a7c57/Picture22.png"
                             data-mimetype="image/png"
                             data-resize-width="226"
                             loading="lazy" />
                    </div>
                    <div class="o_grid_item text-center o_colored_level o_cc o_cc1 g-col-lg-8 g-height-2 col-lg-8"
                         data-name="Block"
                         style="
                    text-transform: capitalize;
                    z-index: 1;
                    grid-area: 10 / 1 / 12 / 9;
                    background-color: rgba(172, 27, 41, 0);
                    background-image: none;
                  ">
                        <h5 style="text-transform: uppercase; text-align: center">
                            <strong>
                                <font class="text-black">Chủ tịch CHAPTER qua các nhiệm kỳ</font>
                            </strong>
                        </h5>
                    </div>
                </div>
            </div>
        </section>
        <section class="s_title o_colored_level pb16 pt144"
                 data-vcss="001"
                 data-snippet="s_title"
                 style="background-image: none; position: relative"
                 data-name="Chỉnh Title (3)">
            <div class="s_allow_columns container">
                <h2 style="text-align: center">
                    7&ZeroWidthSpace; G<font class="text-800">IÁ TRỊ </font>
                    <font class="text-o-color-5"><strong>CỐT LÕI&ZeroWidthSpace;</strong></font>
                </h2>
                <div class="s_hr text-start pb32 pt0"
                     data-snippet="s_hr"
                     data-name="Separator">
                    <hr class="w-25 mx-auto o_we_force_no_transition"
                        style="border-top: 3px solid rgb(207, 33, 49)" />
                </div>
            </div>
        </section>
        <section class="s_features pb80 o_colored_level pt0 o_cc o_cc1"
                 data-snippet="s_features"
                 data-name="Features"
                 style="
              position: relative;
              background-color: rgba(255, 255, 255, 0.9);
              background-image: none;
            "
                 data-oe-shape-data='{"shape":"web_editor/Blocks/04","colors":{"c1":"#cf2131","c2":"#bfa7a7","c3":"#9B1925","c5":"#9B1925"},"flip":[]}'>
            <div class="o_we_shape o_web_editor_Blocks_04"
                 style="
                background-image: url('/web_editor/shape/web_editor/Blocks/04.svg?c1=%23cf2131&amp;c2=%23bfa7a7&amp;c3=%239B1925&amp;c5=%239B1925');
              "></div>
            <div class="container">
                <div class="row">
                    <div class="text-center o_colored_level rounded shadow border o_cc o_cc2 col-lg-4 pt16 pb24 o_we_force_no_transition"
                         style="
                    border-radius: 4px !important;
                    border-width: 2px !important;
                    border-style: double !important;
                    border-color: rgb(249, 246, 246) !important;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                    margin-bottom: 24px; /* margin-left: 12px; */ /* margin-right: 12px; */
                  ">
                        <img src="~/images/Picture5_home.png"
                             alt=""
                             class="m-3 rounded-circle img img-fluid o_we_custom_image"
                             data-original-id="1328"
                             data-original-src="/web/image/1328-d6982439/Picture5.png"
                             data-mimetype="image/png"
                             data-resize-width="129"
                             data-bs-original-title=""
                             title=""
                             aria-describedby="tooltip628076"
                             style="width: 23% !important"
                             loading="lazy" />
                        <h3>
                            <font class="text-o-color-1"
                                  style="text-transform: capitalize">Cho là Nhận ®</font>
                            <br />
                        </h3>
                        <p>
                            <span style="font-size: 14px">
                                Sẵn sàng cho đi trước khi bạn mong đợi đạt được. Cho đi
                                vô điều kiện tạo ra một thế giới tốt đẹp hơn và tạo ra các
                                cơ hội quan trọng và các mối quan hệ lâu dài.
                            </span>
                            <br />
                        </p>
                    </div>
                    <div class="text-center o_colored_level rounded shadow border o_cc o_cc2 pb0 col-lg-4 pt0"
                         style="
                    margin-bottom: 24px;
                    border-radius: 4px !important;
                    border-width: 2px !important;
                    border-style: double !important;
                    border-color: rgb(249, 246, 246) !important;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                  ">
                        <img src="~/images/Picture6_home.png"
                             alt=""
                             class="m-3 rounded-circle img img-fluid o_we_custom_image"
                             style="width: 23% !important"
                             data-original-id="1329"
                             data-original-src="/web/image/1329-88659aa9/Picture6.png"
                             data-mimetype="image/png"
                             data-resize-width="123"
                             data-bs-original-title=""
                             title=""
                             aria-describedby="tooltip931113"
                             loading="lazy" />
                        <h3>
                            <font class="text-o-color-1"
                                  style="text-transform: capitalize">Thái độ tích cực</font>
                            <br />
                        </h3>
                        <p style="text-align: center">
                            <span style="font-size: 14px">
                                Chúng ta tìm thấy điều tốt đẹp trong mọi thứ xảy ra với
                                chúng ta và điều đó thúc đẩy cuộc sống của chúng ta về
                                phía trước. Tìm kiếm những điều tốt đẹp ở mỗi người cho
                                phép chúng ta thu hút những con người tuyệt vời, những cơ
                                hội và sự thịnh vượng
                            </span>. <br />
                        </p>
                    </div>
                    <div class="pb32 text-center o_colored_level rounded shadow border o_cc o_cc2 pt24 col-lg-4"
                         style="
                    margin-bottom: 24px;
                    border-radius: 4px !important;
                    border-width: 2px !important;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                    border-style: double !important;
                    border-color: rgb(255, 255, 255) !important;
                  ">
                        <img src="~/images/Picture7_home.png"
                             alt=""
                             class="m-3 rounded-circle img img-fluid o_we_custom_image"
                             style="width: 23% !important"
                             data-original-id="1330"
                             data-original-src="/web/image/1330-b89c8f2f/Picture7.png"
                             data-mimetype="image/png"
                             data-resize-width="129"
                             data-bs-original-title=""
                             title=""
                             aria-describedby="tooltip804340"
                             loading="lazy" />
                        <h3>
                            <font class="text-o-color-1"
                                  style="text-transform: capitalize">Xây dựng mối quan hệ</font>
                            <br />
                        </h3>
                        <p style="text-align: center">
                            <span style="font-size: 14px">
                                Xây dựng những mối quan hệ bền chặt giúp tạo nên môi
                                trường tin cậy và hỗ trợ mang lại hạnh phúc, cơ hội phát
                                triển và ý nghĩa.
                            </span>
                            <br />
                        </p>
                    </div>
                    <div class="col-lg-4 text-center o_colored_level rounded shadow border o_cc o_cc2 pt0 pb32"
                         style="
                    margin-bottom: 24px;
                    border-radius: 4px !important;
                    border-width: 2px !important;
                    border-style: double !important;
                    border-color: rgb(249, 246, 246) !important;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                  ">
                        <img src="~/images/Picture10_home.png"
                             alt=""
                             class="m-3 rounded-circle img img-fluid o_we_custom_image"
                             style="width: 23% !important"
                             data-original-id="1334"
                             data-original-src="/web/image/1334-d2467f02/Picture10.png"
                             data-mimetype="image/png"
                             data-resize-width="130"
                             data-bs-original-title=""
                             title=""
                             aria-describedby="tooltip940516"
                             loading="lazy" />
                        <h3>
                            <font class="text-o-color-1">Sự Công Nhận</font>
                            <br />
                        </h3>
                        <p style="text-align: center">
                            <span style="font-size: 14px">
                                Chúng tôi đánh giá cao rằng sự ghi nhận sẽ thúc đẩy sự
                                phát triển của các tổ chức thành công. Người nắm vững nghệ
                                thuật ghi nhận sẽ thu hút thành công dẫn đến cuộc sống ý
                                nghĩa và hạnh phúc.
                            </span>
                            <br />
                        </p>
                    </div>
                    <div class="col-lg-4 text-center o_colored_level rounded shadow border o_cc o_cc2 pt8 pb48"
                         style="
                    margin-bottom: 24px;
                    border-radius: 4px !important;
                    border-width: 2px !important;
                    border-style: double !important;
                    border-color: rgb(249, 246, 246) !important;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                  ">
                        <img src="~/images/Picture8_home.png"
                             alt=""
                             class="m-3 rounded-circle img img-fluid o_we_custom_image"
                             style="width: 25% !important"
                             data-original-id="1332"
                             data-original-src="/web/image/1332-09600db6/Picture8.png"
                             data-mimetype="image/png"
                             data-resize-width="132"
                             loading="lazy"
                             data-bs-original-title=""
                             title=""
                             aria-describedby="tooltip320132" />
                        <h3>
                            <font class="text-o-color-1">Trách Nhiệm</font>
                            <br />
                        </h3>
                        <p style="text-align: center">
                            <span style="font-size: 14px">
                                Chúng tôi giữ lời mà chúng tôi đã hứa, ngay cả khi gặp
                                nhiều thách thức để thực hiện điều đó. Điều này tạo ra
                                niềm tin và hỗ trợ các mối quan hệ bền chặt
                            </span>
                            <br />
                        </p>
                    </div>
                    <div class="col-lg-4 text-center o_colored_level rounded shadow border o_cc o_cc2 pt0 pb32"
                         style="
                    border-radius: 4px !important;
                    border-width: 2px !important;
                    border-style: double !important;
                    border-color: rgb(249, 246, 246) !important;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                    margin-bottom: 24px;
                  ">
                        <img src="~/images/Picture9_home.png"
                             alt=""
                             class="m-3 rounded-circle img img-fluid o_we_custom_image"
                             style="width: 23% !important"
                             data-original-id="1333"
                             data-original-src="/web/image/1333-f1d47c35/Picture9.png"
                             data-mimetype="image/png"
                             data-resize-width="129"
                             loading="lazy"
                             data-bs-original-title=""
                             title=""
                             aria-describedby="tooltip116815" />
                        <h3>
                            <font class="text-o-color-1">Học Tập Suốt Đời</font>&nbsp;<br />
                        </h3>
                        <p style="text-align: center">
                            <span style="font-size: 14px">
                                Đầu tư vào bản thân để trở thành nhà lãnh đạo mà bạn muốn
                                trở thành. Giá trị của bạn tăng lên khi bạn phát triển
                                kiến thức và kỹ năng của mình. Học tập suốt đời và hạnh
                                phúc suốt đời có mối liên hệ mật thiết với nhau.
                            </span>
                            <br />
                        </p>
                    </div>
                    <div class="text-center o_colored_level rounded shadow border o_cc o_cc2 col-lg-4 offset-lg-4 pb32 pt0"
                         style="
                    border-radius: 4px !important;
                    border-width: 2px !important;
                    border-style: double !important;
                    border-color: rgb(249, 246, 246) !important;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                  ">
                        <img src="~/images/Picture11_home.png"
                             alt=""
                             class="m-3 rounded-circle img img-fluid o_we_custom_image"
                             style="width: 25% !important"
                             data-original-id="1335"
                             data-original-src="/web/image/1335-bc0ac832/Picture11.png"
                             data-mimetype="image/png"
                             data-resize-width="172"
                             loading="lazy"
                             data-bs-original-title=""
                             title=""
                             aria-describedby="tooltip381987" />
                        <h3>
                            <font class="text-o-color-1">Truyền Thống + Đổi Mới</font>
                            <br />
                        </h3>
                        <p style="text-align: center">
                            <span style="font-size: 14px">
                                Chúng tôi tôn vinh truyền thống của mình và hướng đến một
                                tương lai tươi sáng hơn được thúc đẩy bởi sự đổi mới, lạc
                                quan và phấn khích.
                            </span>
                            <br />
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="s_title o_colored_level pb16 pt72 o_cc o_cc4"
                 data-vcss="001"
                 data-snippet="s_title"
                 style="position: relative"
                 data-name="Chỉnh Chỉnh Title (3)">
            <div class="s_allow_columns container">
                <h2 style="text-align: center">
                    <font class="text-900">MỤC TIÊU</font>
                    <strong>NHIỆM KỲ &ZeroWidthSpace; &nbsp;</strong>
                </h2>
                <div class="s_hr text-start pt0 pb48"
                     data-snippet="s_hr"
                     data-name="Separator">
                    <hr class="w-25 mx-auto"
                        style="border-top-width: 3px; border-top-style: solid" />
                </div>
            </div>
        </section>
        <section class="s_masonry_block o_colored_level o_cc o_cc2"
                 data-vcss="001"
                 data-vxml="001"
                 data-snippet="s_masonry_block"
                 data-name="Masonry"
                 style="
              background-color: rgba(255, 255, 255, 0.9);
              background-image: none;
            "
                 data-masonry-template="default_reversed">
            <div class="container-fluid">
                <div class="row o_grid_mode" data-row-count="10">
                    <div class="o_grid_item col-lg-3 g-col-lg-3 g-height-5 text-center o_cc o_cc3 o_colored_level"
                         data-name="Block"
                         style="
                    grid-area: 1 / 1 / 6 / 4;
                    z-index: 1;
                    background-image: none;
                  ">
                        <h5>Tỷ lệ hiện diện</h5>
                        <h1>&nbsp;Trên 90%</h1>
                    </div>
                    <div class="o_grid_item col-lg-3 g-col-lg-3 g-height-5 text-center o_cc o_cc2 o_colored_level border"
                         data-name="Block"
                         style="
                    grid-area: 6 / 1 / 11 / 4;
                    z-index: 3;
                    background-image: none;
                    border-width: 3px !important;
                    border-color: rgb(207, 33, 49) !important;
                  ">
                        <h5>
                            <font class="text-900">Tổng thành viên</font>
                        </h5>
                        <h1>75<br /></h1>
                    </div>
                    <div class="o_grid_item col-lg-3 g-col-lg-3 g-height-5 text-center o_cc o_cc4 o_colored_level"
                         data-name="Block"
                         style="
                    grid-area: 6 / 4 / 11 / 7;
                    z-index: 4;
                    background-image: none;
                  ">
                        <h5>Tổng giá trị giao dịch</h5>
                        <h1>50 tỷ<br /></h1>
                    </div>
                    <div class="o_grid_item col-lg-3 g-col-lg-3 g-height-5 text-center o_cc o_cc2 o_colored_level border"
                         data-name="Block"
                         style="
                    z-index: 2;
                    background-image: none;
                    grid-area: 1 / 4 / 6 / 7;
                    border-width: 3px !important;
                    position: relative;
                  ">
                        <h5>
                            <font class="text-black">Tổng cơ hội kinh doanh</font>
                        </h5>
                        <h1>Trên 3.000<br /></h1>
                    </div>
                    <div class="o_grid_item o_grid_item_image text-center o_colored_level border g-height-10 g-col-lg-6 col-lg-6"
                         data-name="Block"
                         style="
                    grid-area: 1 / 7 / 11 / 13;
                    z-index: 5;
                    background-color: rgba(255, 0, 0, 0.75);
                    background-image: none;
                    border-width: 1px !important;
                  ">
                        <img src="~/images/bni-la-gi-20-scale.jpeg"
                             alt=""
                             class="img img-fluid mx-auto o_we_custom_image"
                             data-original-id="1348"
                             data-original-src="~/images/bni-la-gi-20-scale.jpeg"
                             data-mimetype="image/jpeg"
                             data-resize-width="962"
                             data-bs-original-title=""
                             title=""
                             aria-describedby="tooltip882634"
                             loading="lazy" />
                    </div>
                    <div class="o_grid_item o_colored_level o_cc o_cc4 g-height-6 border g-col-lg-4 col-lg-4"
                         style="
                    z-index: 6;
                    background-image: none;
                    grid-area: 3 / 8 / 9 / 12;
                    border-width: 1px !important;
                  ">
                        <p style="text-align: justify">
                            <span style="font-size: 24px">
                                <em>
                                    Sứ mệnh của chúng tôi là giúp đỡ các thành viên tăng
                                    trưởng kinh doanh thông qua một chương trình có cấu
                                    trúc, tích cực và chuyên nghiệp cho phép họ phát triển
                                    các mối quan hệ dài lâu, có ý nghĩa với các chuyên gia
                                    kinh doanh chuyên nghiệp và có chất lượng.
                                </em>
                            </span>
                            <br />
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="s_title o_colored_level pb0 o_cc o_cc3 pt80"
                 data-vcss="001"
                 data-snippet="s_title"
                 style="position: relative; background-image: none"
                 data-name="Chỉnh Chỉnh Title (3)">
            <div class="s_allow_columns container">
                <h2 style="text-align: center">
                    <strong><font class="text-o-color-5">TIN TỨC&nbsp;</font></strong>MỚI NHẤT
                </h2>
                <div class="s_hr text-start pt0 pb0"
                     data-snippet="s_hr"
                     data-name="Separator">
                    <hr class="w-25 mx-auto"
                        style="border-top: 3px solid rgb(207, 33, 49)" />
                </div>
            </div>
        </section>
        <section data-snippet="s_blog_posts"
                 class="s_blog_posts s_dynamic_snippet_blog_posts s_dynamic o_colored_level o_cc o_cc3 s_blog_post_big_picture s_blog_posts_effect_marley pt0 pb88"
                 data-name="Blog Posts"
                 style="position: relative; background-image: none"
                 data-filter-by-blog-id="-1"
                 data-number-of-records="16"
                 data-filter-id="9"
                 data-template-key="website_blog.dynamic_filter_template_blog_post_big_picture"
                 data-number-of-elements="3">
            <div class="o_not_editable container">
                <div class="css_non_editable_mode_hidden">
                    <div class="missing_option_warning alert alert-info rounded-0 fade show d-none d-print-none o_default_snippet_text">
                        Đoạn mã động của bạn sẽ được hiển thị ở đây... Thông báo này
                        được hiển thị vì bạn không cung cấp cả bộ lọc và mẫu để sử
                        dụng.<br />
                    </div>
                </div>
                <div class="dynamic_snippet_template">
                    <div class="row my-4">
                        <div class="d-flex flex-grow-0 flex-shrink-0 col-12">
                            <figure class="my-3 w-100 s_blog_posts_post"
                                    data-number-of-elements="3">
                                <a class="s_blog_posts_post_cover position-relative d-flex flex-column shadow-sm overflow-hidden rounded text-decoration-none"
                                   href="/blog/cau-chuyen-thanh-cong-3/quyet-dinh-bo-nhiem-dai-su-ho-tro-chapter-5">
                                    <div data-name="Ảnh bìa"
                                         data-use_filters="True"
                                         data-res-model="blog.post"
                                         data-res-id="5"
                                         class="o_record_cover_container d-flex flex-column h-100 o_colored_level o_cc o_cc3 o_cc h-100 w-100 bg-600 position-absolute">
                                        <div style=" background-image: url(~/images/quyetdinhbonhiem.jpeg); "
                                             class="o_record_cover_component o_record_cover_image"></div>
                                        <div style="opacity: 0"
                                             class="o_record_cover_component o_record_cover_filter oe_black"></div>
                                    </div>

                                    <figcaption class="text-center w-100 h-100 px-3 d-flex flex-column flex-grow-1">
                                        <div class="s_blog_posts_post_title text-white">
                                            Quyết Định Bổ Nhiệm Đại Sứ Hỗ Trợ Chapter
                                        </div>
                                    </figcaption>
                                </a>
                            </figure>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="d-flex flex-grow-0 flex-shrink-0 col-12">
                            <figure class="my-3 w-100 s_blog_posts_post"
                                    data-number-of-elements="3">
                                <a class="s_blog_posts_post_cover position-relative d-flex flex-column shadow-sm overflow-hidden rounded text-decoration-none"
                                   href="/blog/cau-chuyen-thanh-cong-3/vinh-danh-thanh-vien-xuat-sac-thang-05-2023-3">
                                    <div data-name="Ảnh bìa"
                                         data-use_filters="True"
                                         data-res-model="blog.post"
                                         data-res-id="3"
                                         class="o_record_cover_container d-flex flex-column h-100 o_colored_level o_cc o_cc3 o_cc h-100 w-100 bg-600 position-absolute">
                                        <div style=" background-image: url(~/images/vinhdanh.jpeg); "
                                             class="o_record_cover_component o_record_cover_image"></div>
                                        <div style="opacity: 0"
                                             class="o_record_cover_component o_record_cover_filter oe_black"></div>
                                    </div>

                                    <figcaption class="text-center w-100 h-100 px-3 d-flex flex-column flex-grow-1">
                                        <div class="s_blog_posts_post_title text-white">
                                            Vinh Danh Thành Viên Xuất Sắc Tháng 05/2023
                                        </div>
                                    </figcaption>
                                </a>
                            </figure>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="d-flex flex-grow-0 flex-shrink-0 col-12">
                            <figure class="my-3 w-100 s_blog_posts_post"
                                    data-number-of-elements="3">
                                <a class="s_blog_posts_post_cover position-relative d-flex flex-column shadow-sm overflow-hidden rounded text-decoration-none"
                                   href="/blog/cau-chuyen-thanh-cong-3/dao-tao-ky-nang-networking-2">
                                    <div data-name="Ảnh bìa"
                                         data-use_filters="True"
                                         data-res-model="blog.post"
                                         data-res-id="2"
                                         class="o_record_cover_container d-flex flex-column h-100 o_colored_level o_cc o_cc3 o_cc h-100 w-100 bg-600 position-absolute">
                                        <div style=" background-image: url(~/images/daotaokynang.jpeg); "
                                             class="o_record_cover_component o_record_cover_image"></div>
                                        <div style="opacity: 0"
                                             class="o_record_cover_component o_record_cover_filter oe_black"></div>
                                    </div>

                                    <figcaption class="text-center w-100 h-100 px-3 d-flex flex-column flex-grow-1">
                                        <div class="s_blog_posts_post_title text-white">
                                            Đào Tạo Kỹ Năng Networking
                                        </div>
                                    </figcaption>
                                </a>
                            </figure>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="d-flex flex-grow-0 flex-shrink-0 col-12">
                            <figure class="my-3 w-100 s_blog_posts_post"
                                    data-number-of-elements="3">
                                <a class="s_blog_posts_post_cover position-relative d-flex flex-column shadow-sm overflow-hidden rounded text-decoration-none"
                                   href="/blog/cau-chuyen-thanh-cong-3/chao-mung-thanh-vien-moi-4">
                                    <div data-name="Ảnh bìa"
                                         data-use_filters="True"
                                         data-res-model="blog.post"
                                         data-res-id="4"
                                         class="o_record_cover_container d-flex flex-column h-100 o_colored_level o_cc o_cc3 o_cc h-100 w-100 bg-600 position-absolute">
                                        <div style=" background-image: url(~/images/chaomungtvm.jpeg); "
                                             class="o_record_cover_component o_record_cover_image"></div>
                                        <div style="opacity: 0"
                                             class="o_record_cover_component o_record_cover_filter oe_black"></div>
                                    </div>

                                    <figcaption class="text-center w-100 h-100 px-3 d-flex flex-column flex-grow-1">
                                        <div class="s_blog_posts_post_title text-white">
                                            Chào Mừng Thành Viên Mới
                                        </div>
                                    </figcaption>
                                </a>
                            </figure>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="d-flex flex-grow-0 flex-shrink-0 col-12">
                            <figure class="my-3 w-100 s_blog_posts_post"
                                    data-number-of-elements="3">
                                <a class="s_blog_posts_post_cover position-relative d-flex flex-column shadow-sm overflow-hidden rounded text-decoration-none"
                                   href="/blog/tin-tuc-2/ngay-hoi-ket-noi-giao-thuong-6">
                                    <div data-name="Ảnh bìa"
                                         data-use_filters="True"
                                         data-res-model="blog.post"
                                         data-res-id="6"
                                         class="o_record_cover_container d-flex flex-column h-100 o_colored_level o_cc o_cc3 o_cc h-100 w-100 bg-600 position-absolute">
                                        <div style=" background-image: url(~/images/ngayhoiketnoi.jpeg); "
                                             class="o_record_cover_component o_record_cover_image"></div>
                                        <div style="opacity: 0"
                                             class="o_record_cover_component o_record_cover_filter oe_black"></div>
                                    </div>

                                    <figcaption class="text-center w-100 h-100 px-3 d-flex flex-column flex-grow-1">
                                        <div class="s_blog_posts_post_title text-white">
                                            Ngày Hội Kết Nối Giao Thương
                                        </div>
                                    </figcaption>
                                </a>
                            </figure>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="d-flex flex-grow-0 flex-shrink-0 col-12">
                            <figure class="my-3 w-100 s_blog_posts_post"
                                    data-number-of-elements="3">
                                <a class="s_blog_posts_post_cover position-relative d-flex flex-column shadow-sm overflow-hidden rounded text-decoration-none"
                                   href="/blog/tin-tuc-2/hoi-nghi-dinh-cao-2023-1">
                                    <div data-name="Ảnh bìa"
                                         style="background-color: rgba(255, 0, 0, 0.86)"
                                         data-use_filters="True"
                                         data-res-model="blog.post"
                                         data-res-id="1"
                                         class="o_record_cover_container d-flex flex-column h-100 o_colored_level o_cc o_cc3 o_cc h-100 w-100 bg-600 position-absolute">
                                        <div style=" background-image: url(~/images/bni-la-gi-20-scaled.jpg); "
                                             class="o_record_cover_component o_record_cover_image"></div>
                                        <div style="opacity: 0"
                                             class="o_record_cover_component o_record_cover_filter oe_black"></div>
                                    </div>

                                    <figcaption class="text-center w-100 h-100 px-3 d-flex flex-column flex-grow-1">
                                        <div class="s_blog_posts_post_title text-white">
                                            Hội Nghị Đỉnh Cao 2023
                                        </div>
                                    </figcaption>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s_title o_colored_level pb16 pt88"
                 data-vcss="001"
                 data-snippet="s_title"
                 style="background-image: none"
                 data-name="Chỉnh Title (3)">
            <div class="s_allow_columns container">
                <h2 style="text-align: center">
                    <font class="text-o-color-5">
                        <strong>SỰ KIỆN </strong>
                    </font>
                    <strong>SẮP TỚI&ZeroWidthSpace;</strong>
                </h2>
                <div class="s_hr text-start pb32 pt0"
                     data-snippet="s_hr"
                     data-name="Separator">
                    <hr class="w-25 mx-auto"
                        style="border-top: 3px solid rgb(207, 33, 49)" />
                </div>
            </div>
        </section>
        <section data-snippet="s_blog_posts"
                 class="s_events s_event_upcoming_snippet s_dynamic pt32 pb32 o_colored_level s_event_event_card o_dynamic_empty"
                 data-name="Events"
                 style="position: relative; background-image: none"
                 data-number-of-records="3"
                 data-filter-id="1"
                 data-template-key="website_event.dynamic_filter_template_event_event_card"
                 data-force-minimum-max-limit-to16="1"
                 data-filter-by-tag-ids="[]">
            <div class="o_not_editable container">
                <div class="css_non_editable_mode_hidden">
                    <div class="missing_option_warning alert alert-info rounded-0 fade show d-none d-print-none o_default_snippet_text">
                        Đoạn mã động của bạn sẽ được hiển thị ở đây... Thông báo này
                        được hiển thị vì bạn không cung cấp cả bộ lọc và mẫu để sử
                        dụng.<br />
                    </div>
                </div>
                <div class="dynamic_snippet_template"></div>
            </div>
        </section>
        <section class="s_references o_cc2 o_colored_level pt80 pb248"
                 data-snippet="s_references"
                 data-name="References"
                 style="background-image: none">
            <div class="container-fluid">
                <h2 style="text-align: center">
                    <font class="text-800">Logo</font>
                    <font class="text-o-color-5">
                        <strong>THÀNH VIÊN</strong>
                    </font>
                    <b></b>
                </h2>
                <p style="text-align: center">
                    Chúng tôi là một tập thể lớn mạnh cũng nhau&nbsp;hợp tác và phát
                    triển để đạt những mục tiêu to lớn
                </p>
                <div class="s_hr text-start pt0 pb0"
                     data-snippet="s_hr"
                     data-name="Separator">
                    <hr class="w-25 mx-auto"
                        style="
                    border-top-width: 3px !important;
                    border-top-color: rgb(207, 33, 49);
                  " />
                </div>
                <p>
                    <br />
                </p>
                <div class="row">
                    <div class="col-lg-2 pt16 pb16 o_cc o_cc1 rounded pt48 pb48 o_colored_level"
                         style="
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                  ">
                        <img src="~/images/Picture32.png"
                             alt=""
                             class="img img-fluid mx-auto o_we_custom_image"
                             data-original-id="1314"
                             data-original-src="/web/image/1314-b69e3aa8/Picture32.png"
                             data-mimetype="image/png"
                             data-resize-width="150"
                             loading="lazy" />
                    </div>
                    <div class="col-lg-2 o_cc o_cc1 rounded o_colored_level pt64 pb48"
                         style="
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                  ">
                        <img src="~/images/Picture1_home.png"
                             alt=""
                             class="img img-fluid mx-auto o_we_custom_image"
                             data-original-id="1315"
                             data-original-src="/web/image/1315-58e3afba/Picture1.png"
                             data-mimetype="image/png"
                             data-resize-width="234"
                             data-bs-original-title=""
                             title=""
                             aria-describedby="tooltip843261"
                             loading="lazy" />
                    </div>
                    <div class="col-lg-2 o_cc o_cc1 rounded o_colored_level pb64 pt64"
                         style="
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                  ">
                        <img src="~/images/Picture3_home.png"
                             alt=""
                             class="img img-fluid mx-auto o_we_custom_image"
                             data-original-id="1318"
                             data-original-src="/web/image/1318-6b6dcc88/Picture3.png"
                             data-mimetype="image/png"
                             data-resize-width="223"
                             data-bs-original-title=""
                             title=""
                             aria-describedby="tooltip943214"
                             loading="lazy" />
                    </div>
                    <div class="col-lg-2 o_cc o_cc1 rounded o_colored_level pb24 pt40"
                         style="
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                  ">
                        <img src="~/images/Picture2_home.png"
                             alt=""
                             class="img img-fluid mx-auto o_we_custom_image"
                             data-original-id="1317"
                             data-original-src="/web/image/1317-e9cea315/Picture2.png"
                             data-mimetype="image/png"
                             data-resize-width="204"
                             data-bs-original-title=""
                             title=""
                             aria-describedby="tooltip964839"
                             loading="lazy" />
                    </div>
                    <div class="col-lg-2 pb16 o_cc o_cc1 rounded pb48 o_colored_level pt80"
                         style="
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                  ">
                        <img src="~/images/Picture31.png"
                             alt=""
                             class="img img-fluid mx-auto o_we_custom_image"
                             data-original-id="1320"
                             data-original-src="/web/image/1320-cca990f5/Picture31.png"
                             data-mimetype="image/png"
                             data-resize-width="225"
                             loading="lazy" />
                    </div>
                    <div class="col-lg-2 pt16 pb16 o_cc o_cc1 rounded pt48 pb48 o_colored_level"
                         style="
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;
                  ">
                        <img src="~/images/Picture37.png"
                             alt=""
                             class="img img-fluid mx-auto o_we_custom_image"
                             data-original-id="1321"
                             data-original-src="/web/image/1321-2c7144b8/Picture37.png"
                             data-mimetype="image/png"
                             data-resize-width="267"
                             loading="lazy" />
                    </div>
                </div>
            </div>
        </section>
        <section class="s_call_to_action pt64 pb48 o_colored_level o_cc o_cc3"
                 data-snippet="s_call_to_action"
                 data-name="Call to Action"
                 style="background-color: rgb(200, 182, 182); background-image: none">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 pb16 o_colored_level">
                        <h3>
                            <b>50+ doanh nghiệp thành viên cam kết cùng nhau</b>&nbsp;<strong>phát triển việc kinh doanh.</strong>
                        </h3>
                        <p>
                            Gia nhập với chúng tôi và tạo cho công ty bạn một vị thế tốt
                            hơn.
                        </p>
                    </div>
                    <div class="col-lg-3 pt8 o_colored_level">
                        <p style="text-align: right">
                            <a class="btn btn-primary btn-lg mb-2 o_we_force_no_transition"
                               href="/vi/contactus"
                               data-bs-original-title=""
                               title="">Liên hệ</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
