<head>
    <meta property="og:title" content="Shopping Cart | BNI Vũng Tàu" />
    <meta name="twitter:title" content="Shopping Cart | BNI Vũng Tàu" />
    <title>Shopping Cart | BNI Vũng Tàu</title>
</head>

<main>
    <div id="wrap">
        <div class="container oe_website_sale py-2">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xl">
                            <div class="wizard">
                                <div class="progress-wizard">
                                    <a class="no-decoration" href="/shop/cart">
                                        <div id="wizard-step10" class="progress-wizard-step active">
                                            <div class="progress-wizard-bar d-none d-md-block"></div>
                                            <span class="progress-wizard-dot d-none d-md-inline-block"></span>
                                            <div class="text-center progress-wizard-steplabel">
                                                Xem đơn hàng
                                            </div>
                                        </div>
                                    </a>
                                    <a class="no-decoration" href="#">
                                        <div id="wizard-step20" class="progress-wizard-step disabled">
                                            <div class="progress-wizard-bar d-none d-md-block"></div>
                                            <span class="progress-wizard-dot d-none d-md-inline-block"></span>
                                            <div class="text-center progress-wizard-steplabel">
                                                Địa chỉ
                                            </div>
                                        </div>
                                    </a>
                                    <a class="no-decoration" href="#">
                                        <div id="wizard-step40" class="progress-wizard-step disabled">
                                            <div class="progress-wizard-bar d-none d-md-block"></div>
                                            <span class="progress-wizard-dot d-none d-md-inline-block"></span>
                                            <div class="text-center progress-wizard-steplabel">
                                                Xác nhận đơn hàng
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-8 oe_cart">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="js_cart_lines alert alert-info">
                                Giỏ hàng của bạn đang trống!
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-xl-none mb-2" id="o_cart_summary"></div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <a role="button" href="/shop" class="btn btn-secondary mb32">
                                        <span class="fa fa-chevron-left"></span>
                                        <span>
                                            Continue<span class="d-none d-md-inline">
                                                Shopping
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="oe_structure" id="oe_structure_website_sale_cart_1"></div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-xl-block col-xl-4" id="o_cart_summary"></div>
            </div>
        </div>
        <div class="oe_structure" id="oe_structure_website_sale_cart_2"></div>
    </div>
</main>