<main>

    <span class="hidden" data-for="contactus_form" data-values="{&#39;email_to&#39;: &#39;info@csjchapter.com&#39;, &#39;name&#39;: &#39;&#39;, &#39;phone&#39;: &#39;&#39;, &#39;email_from&#39;: &#39;&#39;, &#39;company&#39;: &#39;&#39;, &#39;subject&#39;: &#39;&#39;, &#39;contact_name&#39;: &#39;&#39;, &#39;partner_name&#39;: &#39;&#39;, &#39;description&#39;: &#39;&#39;}"></span>
    <div id="wrap" class="oe_structure oe_empty">
        <section class="s_title o_colored_level o_cc o_cc4 pt120 pb128 oe_img_bg o_bg_img_center" data-vcss="001" data-snippet="s_title" style="position: relative; background-image: url(/assets/image/banner1.jpg); background-color: rgba(141, 22, 33, 0.54);" data-original-id="966" data-original-src="/web/image/966-1ffccdb1/banner%201.jpg" data-mimetype="image/jpeg" data-resize-width="1600" data-gl-filter="custom" data-filter-options="{&#34;filterColor&#34;:&#34;rgba(219, 0, 0, 0.27)&#34;}" data-name="Chỉnh Title">
            <div class="s_allow_columns container">
                <h1 style="text-align: center;">
                    <font class="text-o-color-4" style="
    text-transform: uppercase;
"><span data-bs-original-title="" title="" aria-describedby="tooltip928832"><i class="fa fa-home" aria-hidden="true"></i></span>&nbsp;liên hệ&nbsp;</font>
                </h1>
            </div>
        </section>
        <section class="s_text_block pb40 o_colored_level pt40" data-snippet="s_text_block" data-name="Text" style="background-image: none; position: relative;" data-oe-shape-data="{&#34;shape&#34;:&#34;web_editor/Origins/06_001&#34;,&#34;flip&#34;:[]}">
            <div class="o_we_shape o_web_editor_Origins_06_001"></div>
            <div class="s_allow_columns container">
                <div class="row align-items-start">
                    <div class="o_colored_level g-height-14 g-col-lg-5 col-lg-5 rounded d-md-block d-none o_snippet_mobile_invisible" data-invisible="1">
                        <img src="/assets/image/image 5.png" alt="" class="img img-fluid o_we_custom_image img-thumbnail shadow" data-original-id="1620" data-original-src="/web/image/1620-7affab82/image%205.png" data-mimetype="image/png" data-resize-width="520" data-bs-original-title="" title="" aria-describedby="tooltip584009" loading="lazy" data-gl-filter="toaster" />
                    </div>
                    <div class="o_colored_level g-height-14 g-col-lg-7 col-lg-7">
                        <blockquote style="text-align: left;" class="o_we_force_no_transition">
                            <font class="text-o-color-5">* Ghi rõ đầy đủ nội dung từng mục</font>
                        </blockquote>
                        <section data-name="Form" data-snippet="s_website_form" data-vcss="001" class="s_website_form">
                            <div class="container">
                                <form data-pre-fill="true" data-success-page="/contactus-thank-you" data-success-mode="redirect" data-model_name="res.partner" data-mark="" class="o_mark_optional" enctype="multipart/form-data" method="post" action="https://csjchapter.com/website/form/" id="contactus_form">
                                    <div class="s_website_form_rows row s_col_no_bgcolor">
                                        <div data-visibility-condition="" data-visibility-between="" class="s_website_form_field mb-3 col-12 col-lg-6 s_website_form_custom" data-type="char" data-name="Field">
                                            <label class="s_website_form_label d-none" style="width: 160px" for="org0375swve8">
                                                <span class="s_website_form_label_content">Họ và Tên</span>
                                            </label>
                                            <input type="text" class="form-control s_website_form_input" name="Họ và Tên" value="" placeholder="Họ Tên" id="org0375swve8" data-fill-with="undefined" />
                                        </div>
                                        <div data-visibility-condition="" data-visibility-between="" class="s_website_form_field mb-3 col-12 col-lg-6 s_website_form_custom o_we_force_no_transition" data-type="char" data-name="Field">
                                            <label class="s_website_form_label d-none" style="width: 160px" for="o8a20zkq7y7a">
                                                Ngành Nghề
                                            </label>
                                            <input type="text" class="form-control s_website_form_input" name="Ngành nghề" value="" placeholder="Ngành Nghề" id="o8a20zkq7y7a" data-fill-with="undefined" />
                                        </div>
                                        <div data-visibility-condition="" data-visibility-between="" class="s_website_form_field mb-3 col-12 col-lg-6 s_website_form_custom" data-type="char" data-name="Field">
                                            <label class="s_website_form_label d-none" style="width: 160px" for="o9qn4xhha8gp">
                                                <span class="s_website_form_label_content">Tên Công Ty</span>
                                            </label>
                                            <input type="text" class="form-control s_website_form_input" name="Tên Công Ty" value="" placeholder="Tên Công Ty" id="o9qn4xhha8gp" data-fill-with="undefined" />
                                        </div>
                                        <div data-visibility-condition="" data-visibility-between="" class="s_website_form_field mb-3 col-12 col-lg-6 s_website_form_custom" data-type="char" data-name="Field">
                                            <label class="s_website_form_label d-none" style="width: 160px" for="ow1o549a6lqn">
                                                <span class="s_website_form_label_content">Tên Công Ty</span>
                                            </label>
                                            <input type="text" class="form-control s_website_form_input" name="Tên Công Ty" value="" placeholder="Địa Chỉ Công Ty" id="ow1o549a6lqn" data-fill-with="undefined" />
                                        </div>
                                        <div data-visibility-condition="" data-visibility-between="" class="s_website_form_field mb-3 col-12 col-lg-6 s_website_form_custom" data-type="char" data-name="Field">
                                            <label class="s_website_form_label d-none" style="width: 160px" for="oko9rpazmoo">
                                                <span class="s_website_form_label_content">Chức Vụ</span>
                                            </label>
                                            <input type="text" class="form-control s_website_form_input" name="Chức Vụ" value="" placeholder="Chức Vụ" id="oko9rpazmoo" data-fill-with="undefined" />
                                        </div>
                                        <div data-visibility-condition="" data-visibility-between="" class="s_website_form_field mb-3 col-12 col-lg-6 s_website_form_custom" data-type="char" data-name="Field">
                                            <label class="s_website_form_label d-none" style="width: 160px" for="olr18d88oj7g">
                                                <span class="s_website_form_label_content">Chức Vụ</span>
                                            </label>
                                            <input type="text" class="form-control s_website_form_input" name="Chức Vụ" value="" placeholder="Số Năm Làm Việc Tại Công Ty" id="olr18d88oj7g" data-fill-with="undefined" />
                                        </div>
                                        <div data-visibility-condition="" data-visibility-between="" class="s_website_form_field mb-3 col-12 col-lg-6" data-type="char" data-name="Field">
                                            <label class="s_website_form_label d-none" style="width: 160px" for="oburptj9joso">
                                                <span class="s_website_form_label_content">Điện thoại</span>
                                            </label>
                                            <input type="text" class="form-control s_website_form_input" name="phone" value="" id="oburptj9joso" data-fill-with="undefined" placeholder="Điện Thoại" />
                                            <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div><div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div><div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div><div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
                                        </div>
                                        <div data-visibility-condition="" data-visibility-between="" class="s_website_form_field mb-3 col-12 col-lg-6 s_website_form_custom" data-type="email" data-name="Field">
                                            <label class="s_website_form_label d-none" style="width: 160px" for="on8muqdktms">
                                                <span class="s_website_form_label_content">Email</span>
                                            </label>
                                            <input type="email" class="form-control s_website_form_input" name="Email" value="" placeholder="Email" id="on8muqdktms" data-fill-with="undefined" />
                                        </div>
                                        <div data-visibility-condition="" data-visibility-between="" class="s_website_form_field mb-3 col-12 col-lg-12 s_website_form_custom" data-type="many2one" data-name="Field">
                                            <label class="s_website_form_label " style="width: 100%" for="owpslrindo4">
                                                <span class="s_website_form_label_content">Bạn biết đến CSJ CHAPTER thông qua ?</span>
                                            </label>
                                            <select class="form-select s_website_form_input" name="Bạn biết đến CSJ CHAPTER thông qua ?" id="owpslrindo4">
                                                <option value="Facebook" selected="selected">Facebook</option>
                                                <option value="Youtube">Youtube</option>
                                                <option value="Google">Google</option>
                                                <option value="Linkedin">Linkedin</option>
                                                <option value="Zalo">Zalo</option>
                                                <option value="Người giới thiệu">Người giới thiệu</option>
                                                <option value="Khác">Khác</option>
                                            </select>
                                        </div>
                                        <div data-visibility-condition="" data-visibility-between="" class="s_website_form_field mb-3 col-12 col-lg-12 s_website_form_custom" data-type="selection" data-name="Field">
                                            <label class="s_website_form_label " style="width: 100%" for="owgnmfev8daa">
                                                <span class="s_website_form_label_content">Bạn có là thành viên của CSJ CHAPTER không  ?</span>
                                            </label>
                                            <div class="row s_col_no_resize s_col_no_bgcolor s_website_form_multiple" data-name="Bạn có là thành viên của CSJ CHAPTER không  ?" data-display="horizontal">
                                                <div class="radio col-12 col-lg-4 col-md-6">
                                                    <div class="form-check">
                                                        <input type="radio" class="s_website_form_input form-check-input" id="owgnmfev8daa0" name="Bạn có là thành viên của CSJ CHAPTER không  ?" checked="checked" value="Có" data-fill-with="undefined" />
                                                        <label class="form-check-label s_website_form_check_label" for="owgnmfev8daa0">
                                                            Có
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="radio col-12 col-lg-4 col-md-6">
                                                    <div class="form-check">
                                                        <input type="radio" class="s_website_form_input form-check-input" id="owgnmfev8daa1" name="Bạn có là thành viên của CSJ CHAPTER không  ?" value="Không" />
                                                        <label class="form-check-label s_website_form_check_label" for="owgnmfev8daa1">
                                                            Không
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-visibility-condition="" data-visibility-between="" class="s_website_form_field mb-3 col-12 col-lg-12 s_website_form_custom" data-type="text" data-name="Field">
                                            <label class="s_website_form_label d-none" style="width: 160px" for="of684ni2pj58">
                                                <span class="s_website_form_label_content">Email</span>
                                            </label>
                                            <textarea class="form-control s_website_form_input" name="Email" placeholder="Thông Tin Cần Hỗ Trợ" id="of684ni2pj58" rows="5"></textarea>
                                        </div>
                                        <div data-name="Submit Button" class="mb-0 py-2 col-12 s_website_form_submit pb0 col-lg-12 text-center s_website_form_no_submit_label pt8">
                                            <p>
                                            </p><div class="s_website_form_label" style="width: 160px;"></div><a title="" data-bs-original-title="" class="s_website_form_send btn btn-primary btn-lg" role="button" href="#" style="
    width: 400px;
    border-radius: 40px;
">Gửi&nbsp;</a><span id="s_website_form_result" class="text-danger ml8"></span>

                                            &nbsp;<br />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                        <p>
                            <br />
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="s_map pt56 pb40 o_half_screen_height" data-map-type="m" data-map-zoom="15" data-snippet="s_map" data-map-address="iBis Styles Vung Tau" data-name="Map">
            <br />
            <br />
            <div class="map_container o_not_editable">
                <div class="css_non_editable_mode_hidden">
                    <div class="missing_option_warning alert alert-info rounded-0 fade show d-none d-print-none o_default_snippet_text">
                        Phải chỉ định một địa chỉ để nhúng bản đồ vào trang
                    </div>
                </div>
                <iframe class="s_map_embedded o_not_editable" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=iBis%20Styles%20Vung%20Tau&amp;t=m&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
                <div class="s_map_color_filter"></div>
            </div>
        </section>
        <section class="s_features o_cc o_cc2 pt80 pb80 o_colored_level" data-snippet="s_features" data-name="Features" style="background-image: none;">
            <div class="container">
                <div class="row">
                    <div class="pt32 text-center o_cc o_cc1 rounded o_colored_level col-lg-12 pb48 shadow border" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;">
                        <i class="fa fa-briefcase bg-o-color-1 m-3 rounded-circle fa-2x" data-bs-original-title="" title="" aria-describedby="tooltip795192"></i>
                        <h3>KẾT NỐI KINH DOANH ĐỊNH KỲ<br /></h3>
                        <p>Sáng Thư 3 Hàng tuần vào lúc 6:45 - 9:30</p>
                    </div><div class="col-lg-4 pt32 pb32 text-center o_cc o_cc1 rounded o_colored_level" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;">
                        <i class="fa fa-2x fa-lock bg-o-color-1 m-3 rounded-circle"></i>
                        <h3>ĐỊA CHỈ HỌP<br /></h3>
                        <p>117 Thùy Vân, Street,&nbsp;TP Vũng Tàu<br /></p>
                    </div>
                    <div class="col-lg-4 pt32 pb32 text-center o_cc o_cc1 rounded o_colored_level" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;">
                        <i class="fa fa-phone fa-2x m-3 rounded-circle bg-o-color-1" data-bs-original-title="" title="" aria-describedby="tooltip213525"></i>
                        <h3>LIÊN LẠC<br /></h3>
                        <p>
                            <a href="tel: (+84) 934304888" data-bs-original-title="" title="">
                                <font class="text-900">(+84) 934 304 888</font>
                            </a>
                            <br />
                        </p>
                    </div>
                    <div class="col-lg-4 pt32 pb32 text-center o_cc o_cc1 rounded o_colored_level" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;">
                        <i class="fa fa-envelope m-3 rounded-circle bg-o-color-1 fa-2x" data-bs-original-title="" title="" aria-describedby="tooltip448975"></i>
                        <h3>EMAIL<br /></h3>
                        <p>i<font class="text-900">nfo@csjchapter.com</font><br /></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="s_three_columns o_cc o_cc2 o_colored_level pt0 pb0" data-vcss="001" data-snippet="s_three_columns" data-name="Columns" style="background-image: none;">
            <div class="container">
                <div class="row d-flex o_grid_mode" data-row-count="16">



                </div>
            </div>
        </section>
    </div>

</main>
